ÎÑ§, ÏôÑÎ≤ΩÌï©ÎãàÎã§\! PK/FK Ïã§ÏäµÍπåÏßÄ ÎßàÏπòÏÖ®ÏúºÎãà Ïù¥Ï†ú \*\*Îç∞Ïù¥ÌÑ∞Ïùò Í¥ÄÍ≥Ñ(Relationship)\*\*Ïóê ÎåÄÌïú Í∞êÍ∞ÅÏù¥ ÌôïÏã§Ìûà Ïû°ÌûàÏÖ®ÏùÑ Í≤ÅÎãàÎã§.

Ïûê, Ïù¥Ï†ú **[Î∂ÄÌä∏Ï∫†ÌîÑ 3ÏùºÏ∞®]** Ï†ïÍ∑ú Ïª§Î¶¨ÌÅòÎüºÏúºÎ°ú ÎèåÏïÑÍ∞ëÎãàÎã§.
Ïò§ÎäòÏùò Ï£ºÏ†úÎäî ÏòàÍ≥†Ìï¥ ÎìúÎ¶∞ ÎåÄÎ°ú \*\*Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÍ∞ÄÏùò ÌïÑÏàò Î¨¥Í∏∞, [SQL]\*\*ÏûÖÎãàÎã§.

-----

# üî• Î∂ÄÌä∏Ï∫†ÌîÑ 3ÏùºÏ∞®: "Îç∞Ïù¥ÌÑ∞Îäî DBÏóê ÏûàÎã§" (SQL + Python)

ÏßÄÍ∏àÍπåÏßÄ Ïö∞Î¶¨Îäî `csv` ÌååÏùºÏù¥ÎÇò Ï†úÍ∞Ä ÎßåÎì† ÎîïÏÖîÎÑàÎ¶¨ Îç∞Ïù¥ÌÑ∞Î•º ÏçºÏäµÎãàÎã§.
ÌïòÏßÄÎßå ÌöåÏÇ¨Ïóê Ï∂úÍ∑ºÌïòÎ©¥ ÌåÄÏû•ÎãòÏù¥ ÏóëÏÖÄ ÌååÏùºÏùÑ Ï£ºÏßÄ ÏïäÏäµÎãàÎã§. ÎåÄÏã† Ïù¥Î†áÍ≤å ÎßêÌïòÏ£†.

> **"DB(Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§) Ï†ëÏÜç Í∂åÌïú Ï§Ñ ÌÖåÎãàÍπå, ÏßÅÏ†ë ÏøºÎ¶¨(Query) ÎÇ†Î†§ÏÑú Îç∞Ïù¥ÌÑ∞ ÎΩëÏïÑÎ≥¥ÏÑ∏Ïöî."**

Ïò§ÎäòÏùÄ \*\*[ÌååÏù¥Ïç¨ ÏïàÏóêÏÑú SQLÏùÑ ÏÇ¨Ïö©ÌïòÎäî Î≤ï]\*\*ÏùÑ ÏùµÌûàÍ≥†, ÏßÄÎÇúÎ≤àÏóê PandasÎ°ú ÌûòÎì§Í≤å ÌñàÎçò **RFM Î∂ÑÏÑùÏùÑ SQL Ìïú Î∞©ÏúºÎ°ú ÎÅùÎÇ¥Îäî "Pro"Ïùò Í∏∞Ïà†**ÏùÑ Ï†ÑÏàòÌï¥ ÎìúÎ¶ΩÎãàÎã§.

-----

### üìÇ 1. Ìè¥Îçî Î∞è ÌååÏùº ÏÉùÏÑ±

SQLÏùÄ ÏÑ±Í≤©Ïù¥ Îã§Î•¥Îãà ÏÉà Ìè¥ÎçîÎ•º ÌååÎäî Í≤å Ï¢ãÏäµÎãàÎã§.

  * **Ìè¥ÎçîÎ™Ö:** `04_SQL_Analysis`
  * **ÌååÏùºÎ™Ö:** `practice_sql_basics.ipynb`

-----

### 2\. SQL Í∏∞Ï¥à ÏøºÎ¶¨ ÎßõÎ≥¥Í∏∞: "ÌåêÎã§Ïä§Îûë Ïñ¥ÎñªÍ≤å Îã¨ÎùºÏöî?"

Îç∞Ïù¥ÌÑ∞Í∞Ä DBÏóê Îì§Ïñ¥Í∞îÏúºÎãà, Ïù¥Ï†ú ÌåêÎã§Ïä§ Î¨∏Î≤ïÏù¥ ÏïÑÎãàÎùº **SQL ÏøºÎ¶¨**Î°ú Îç∞Ïù¥ÌÑ∞Î•º Í∫ºÎÇ¥ÏôÄÏïº Ìï©ÎãàÎã§.
`pd.read_sql()` Ìï®ÏàòÍ∞Ä ÎßàÎ≤ïÏùò Îã§Î¶¨ Ïó≠Ìï†ÏùÑ Ìï©ÎãàÎã§.

```python
# SQL Î¨∏Î≤ï: SELECT (Í∞ÄÏ†∏ÏôÄÎùº) * (Î™®Îì† Ïª¨ÎüºÏùÑ) FROM (Ïñ¥ÎîîÏÑú?)
query = "SELECT * FROM orders"

# DBÏóêÏÑú ÏøºÎ¶¨ Ïã§Ìñâ Í≤∞Í≥ºÎ•º Î∞îÎ°ú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Í∞ÄÏ†∏Ïò§Í∏∞
result = pd.read_sql(query, conn)

print("=== SQLÎ°ú Ï°∞ÌöåÌïú Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ ===")
print(result)
```

-----

### 3\. [ÌïµÏã¨] RFM Î∂ÑÏÑù, SQL Ìïú Î∞©ÏúºÎ°ú ÎÅùÎÇ¥Í∏∞ üî•

ÏßÄÎÇúÎ≤àÏóê PandasÎ°ú `groupby`, `agg`, `lambda` Ïç®ÏÑú Î≥µÏû°ÌïòÍ≤å RFM ÎßåÎì§ÏóàÎçò Í≤É Í∏∞ÏñµÎÇòÏãúÏ£†?
SQLÏùÑ ÏûòÌïòÎ©¥ Í∑∏ Í≥ºÏ†ïÏùÑ **ÏøºÎ¶¨Î¨∏ ÌïòÎÇò**Î°ú ÎÅùÎÇº Ïàò ÏûàÏäµÎãàÎã§. ÌòÑÏóÖÏóêÏÑ† Îç∞Ïù¥ÌÑ∞Í∞Ä ÎÑàÎ¨¥ Ïª§ÏÑú(ÏàòÏñµ Í±¥) ÌååÏù¥Ïç¨ÏúºÎ°ú Î™ª Î∂àÎü¨Ïò§Í∏∞ ÎïåÎ¨∏Ïóê **Î∞òÎìúÏãú SQLÎ°ú ÏöîÏïΩÌï¥ÏÑú Í∞ÄÏ†∏ÏôÄÏïº Ìï©ÎãàÎã§.**

**Ïù¥ ÏøºÎ¶¨Î•º Ïù¥Ìï¥ÌïòÍ≥† Ïã§ÌñâÌïòÎäî Í≤ÉÏù¥ Ïò§Îäò 3ÏùºÏ∞®Ïùò Î™©ÌëúÏûÖÎãàÎã§.**

-----

### ‚úÖ 3ÏùºÏ∞® Í≥ºÏ†ú & ÏÉùÍ∞ÅÌï† Í±∞Î¶¨

1.  ÏúÑ ÏΩîÎìúÎ•º `practice_sql_basics.ipynb` ÌååÏùºÏóê ÏûëÏÑ±ÌïòÍ≥† Ïã§ÌñâÌï¥Î≥¥ÏÑ∏Ïöî.
2.  **Í≤∞Í≥º ÎπÑÍµê:** 1ÏùºÏ∞®/2ÏùºÏ∞® Îïå PandasÎ°ú ÎßåÎì§ÏóàÎçò `user_df` (RFM Îç∞Ïù¥ÌÑ∞)ÏôÄ Î∞©Í∏à SQLÎ°ú ÎΩëÏùÄ `rfm_df`Í∞Ä ÎòëÍ∞ôÏùÄÏßÄ ÌôïÏù∏Ìï¥Î≥¥ÏÑ∏Ïöî.
3.  **ÎäêÎÇÄ Ï†ê:** "ÏôÄ, PandasÎ°ú 10Ï§Ñ Ïß§ Í±∞ SQLÎ°úÎäî 5Ï§ÑÏù¥Î©¥ ÎêòÎÑ§?" ÌòπÏùÄ "ÎåÄÏö©Îüâ Îç∞Ïù¥ÌÑ∞Îäî Ïù¥Î†áÍ≤å Ï≤òÎ¶¨Ìï¥ÏïºÍ≤†Íµ¨ÎÇò"ÎùºÎäî Í∞êÏùÑ Ïû°ÏúºÏãúÎ©¥ ÏÑ±Í≥µÏûÖÎãàÎã§.

Ïã§ÌñâÌï¥ Î≥¥ÏãúÍ≥† Í≤∞Í≥ºÍ∞Ä Ïûò ÎÇòÏò§ÎäîÏßÄ, ÌòπÏùÄ ÏóêÎü¨Í∞Ä ÎÇòÎäîÏßÄ ÏïåÎ†§Ï£ºÏÑ∏Ïöî\! (SQL Î¨∏Î≤ï ÏóêÎü¨Îäî ÏΩ§Îßà(,) ÌïòÎÇòÎßå Îπ†Ï†∏ÎèÑ ÎÇ©ÎãàÎã§\!)

In [1]:
import sqlite3
import pandas as pd

# 1. Í∞ÄÏÉÅÏùò DB ÌååÏùº ÏÉùÏÑ± (ÏóÜÏúºÎ©¥ ÎßåÎì§Í≥†, ÏûàÏúºÎ©¥ Ïó∞Í≤∞Ìï®)
conn = sqlite3.connect('ecommerce.db') 

# 2. Ïã§ÏäµÏö© Îç∞Ïù¥ÌÑ∞ Ï§ÄÎπÑ (Ïö∞Î¶¨Í∞Ä Í≥ÑÏÜç Ïì∞Îçò Í∑∏ Îç∞Ïù¥ÌÑ∞!)
# Ï£ºÎ¨∏ ÎÇ¥Ïó≠ (Transaction)
orders_data = {
    'order_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'user_id': [1, 2, 1, 3, 1, 2, 4, 5, 2, 1], 
    'order_date': ['2024-01-01', '2024-01-02', '2024-01-05', '2024-01-07', 
                   '2024-01-10', '2024-01-12', '2024-01-15', '2024-01-20',
                   '2024-01-25', '2024-01-28'],
    'amount': [10000, 25000, 12000, 50000, 10000, 30000, 15000, 80000, 20000, 11000]
}

# Ïú†Ï†Ä Ï†ïÎ≥¥ (Demographics)
users_data = {
    'user_id': [1, 2, 3, 4, 5],
    'age': [25, 35, 22, 45, 31],
    'gender': ['M', 'F', 'F', 'M', 'F']
}

# 3. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏÉùÏÑ± ÌõÑ DBÏóê Ï†ÄÏû• (to_sql)
# Ïù¥ Í≥ºÏ†ïÏù¥ "DBÏóê ÌÖåÏù¥Î∏îÏùÑ Ï†ÅÏû¨(Insert)ÌïòÎäî Í≥ºÏ†ï"ÏûÖÎãàÎã§.
df_orders = pd.DataFrame(orders_data)
df_users = pd.DataFrame(users_data)

# if_exists='replace': Ïù¥ÎØ∏ ÏûàÏúºÎ©¥ ÎçÆÏñ¥ÏîåÏõåÎùº
df_orders.to_sql('orders', conn, if_exists='replace', index=False)
df_users.to_sql('users', conn, if_exists='replace', index=False)

print("‚úÖ DB ÏÉùÏÑ± Î∞è Îç∞Ïù¥ÌÑ∞ Ï†ÅÏû¨ ÏôÑÎ£å!")

‚úÖ DB ÏÉùÏÑ± Î∞è Îç∞Ïù¥ÌÑ∞ Ï†ÅÏû¨ ÏôÑÎ£å!

In [2]:
query = "SELECT * FROM orders"

result = pd.read_sql(query, conn)

print("=== SQLÎ°ú Ï°∞ÌöåÌïú Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ ===")
print(result)

=== SQLÎ°ú Ï°∞ÌöåÌïú Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ ===
   order_id  user_id  order_date  amount
0         1        1  2024-01-01   10000
1         2        2  2024-01-02   25000
2         3        1  2024-01-05   12000
3         4        3  2024-01-07   50000
4         5        1  2024-01-10   10000
5         6        2  2024-01-12   30000
6         7        4  2024-01-15   15000
7         8        5  2024-01-20   80000
8         9        2  2024-01-25   20000
9        10        1  2024-01-28   11000

In [3]:
cutoff_date = '2024-02-01'

rfm_query = f"""
SELECT
    user_id,
    -- 1. Recency: Í∏∞Ï§ÄÏùº - ÎßàÏßÄÎßâ Íµ¨Îß§Ïùº (Ï§ÑÎ¶¨Ïïà Îç∞Ïù¥ Î≥ÄÌôò Îì±ÏùÑ ÌÜµÌï¥ ÏùºÏàò Í≥ÑÏÇ∞)
    -- sqliteÏóêÏÑúÎäî julianday Ìï®ÏàòÎ•º ÏîÅÎãàÎã§. (Oracle/MySQLÏùÄ Î¨∏Î≤ïÏù¥ Ï°∞Í∏à Îã§Î¶Ñ)
    CAST(julianday('{cutoff_date}') - julianday(MAX(order_date)) AS INTEGER) AS Recency,

    -- 2. Frequency: Íµ¨Îß§ ÌöüÏàò Ïπ¥Ïö¥Ìä∏
    COUNT(order_id) AS Frequency,

    -- 3. Monetary: Ï¥ù Íµ¨Îß§ Í∏àÏï° Ìï©Í≥Ñ
    SUM(amount) AS Monetary
FROM orders
GROUP BY user_id
"""

rfm_df = pd.read_sql(rfm_query, conn)

print("=== üöÄ SQLÎ°ú Ìïú Î≤àÏóê ÎΩëÏùÄ RFM Îç∞Ïù¥ÌÑ∞ ===")
print(rfm_df)

=== üöÄ SQLÎ°ú Ìïú Î≤àÏóê ÎΩëÏùÄ RFM Îç∞Ïù¥ÌÑ∞ ===
   user_id  Recency  Frequency  Monetary
0        1        4          4     43000
1        2        7          3     75000
2        3       25          1     50000
3        4       17          1     15000
4        5       12          1     80000

In [8]:
join_query = """
SELECT 
    o.order_id,
    o.amount,
    u.user_id,
    u.age,
    u.gender
FROM orders o
LEFT JOIN users u ON o.user_id = u.user_id
"""

join_result = pd.read_sql(join_query, conn)

print("\n=== üîó SQL JOIN Í≤∞Í≥º (Ï£ºÎ¨∏ + Ïú†Ï†ÄÏ†ïÎ≥¥) ===")
print(join_result.head())

conn.close()

=== üîó SQL JOIN Í≤∞Í≥º (Ï£ºÎ¨∏ + Ïú†Ï†ÄÏ†ïÎ≥¥) ===
   order_id  amount  user_id  age gender
0         1   10000        1   25      M
1         2   25000        2   35      F
2         3   12000        1   25      M
3         4   50000        3   22      F
4         5   10000        1   25      M

Í∞ÄÏÉÅÏùò orders (Ï£ºÎ¨∏) ÌÖåÏù¥Î∏îÏù¥ ÏûàÎã§Í≥† Í∞ÄÏ†ïÌï¥ Î¥ÖÏãúÎã§.

Ïª¨Îüº: user_id (Í≥†Í∞ùID), amount (Ï£ºÎ¨∏Í∏àÏï°), category (ÏÉÅÌíàÏ¢ÖÎ•ò)

Q. "Í∞Å Í≥†Í∞ù(user_id)Î≥ÑÎ°ú Ï¥ù ÏñºÎßàÎ•º Ï£ºÎ¨∏ÌñàÎäîÏßÄ(SUM) Íµ¨ÌïòÍ≥†, Ï¥ùÏ£ºÎ¨∏ Í∏àÏï°Ïù¥ 50,000Ïõê Ïù¥ÏÉÅÏù∏ Í≥†Í∞ùÎßå ÎΩëÏïÑÏ£ºÏÑ∏Ïöî."

Ïù¥ ÏøºÎ¶¨Î•º Ïñ¥ÎñªÍ≤å ÏûëÏÑ±ÌïòÎ©¥ Îê†ÍπåÏöî? ÌïúÎ≤à ÏûëÏÑ±Ìï¥ Î≥¥ÏãúÍ≤†Ïñ¥Ïöî? (ÌãÄÎ†§ÎèÑ Í¥úÏ∞ÆÏäµÎãàÎã§!)

In [2]:
import sqlite3
import pandas as pd

# 1. Í∞ÄÏÉÅÏùò Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ ÏÉùÏÑ± (Î©îÎ™®Î¶¨ ÎÇ¥Ïóê ÏÉùÏÑ±)
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# 2. ÌÖåÏù¥Î∏î ÎßåÎì§Í∏∞ (user_id, amount, category)
cur.execute('''
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    user_id VARCHAR(10),
    amount INTEGER,
    category VARCHAR(20)
)
''')

# 3. Îç∞Ïù¥ÌÑ∞ ÎÑ£Í∏∞ (ÏÉòÌîå Îç∞Ïù¥ÌÑ∞)
data = [
    ('User_A', 10000, 'Ï†ÑÏûêÏ†úÌíà'),
    ('User_B', 25000, 'ÏùòÎ•ò'),
    ('User_A', 30000, 'ÏùòÎ•ò'),
    ('User_C', 5000, 'ÏãùÌíà'),
    ('User_B', 30000, 'Ï†ÑÏûêÏ†úÌíà'),
    ('User_A', 20000, 'ÏãùÌíà'),
    ('User_D', 45000, 'Í∞ÄÍµ¨')
]

cur.executemany('INSERT INTO orders (user_id, amount, category) VALUES (?, ?, ?)', data)
conn.commit()

print("‚úÖ Îç∞Ïù¥ÌÑ∞ Ï§ÄÎπÑ ÏôÑÎ£å! Ïù¥Ï†ú ÏïÑÎûò Ïπ∏Î∂ÄÌÑ∞ SQLÏùÑ Ïó∞ÏäµÌïòÎ©¥ Îê©ÎãàÎã§.")

print(pd.read_sql("SELECT * FROM orders", conn))

‚úÖ Îç∞Ïù¥ÌÑ∞ Ï§ÄÎπÑ ÏôÑÎ£å! Ïù¥Ï†ú ÏïÑÎûò Ïπ∏Î∂ÄÌÑ∞ SQLÏùÑ Ïó∞ÏäµÌïòÎ©¥ Îê©ÎãàÎã§.
   order_id user_id  amount category
0         1  User_A   10000     Ï†ÑÏûêÏ†úÌíà
1         2  User_B   25000       ÏùòÎ•ò
2         3  User_A   30000       ÏùòÎ•ò
3         4  User_C    5000       ÏãùÌíà
4         5  User_B   30000     Ï†ÑÏûêÏ†úÌíà
5         6  User_A   20000       ÏãùÌíà
6         7  User_D   45000       Í∞ÄÍµ¨

In [12]:
sql = """

SELECT user_id, category, SUM(amount) AS total_spent,
    COUNT(order_id) AS Frequency
FROM orders
GROUP BY user_id
HAVING SUM(amount) >= 10000 AND COUNT(order_id) >= 2

"""

print(pd.read_sql(sql, conn))

  user_id category  total_spent  Frequency
0  User_A     Ï†ÑÏûêÏ†úÌíà        60000          3
1  User_B       ÏùòÎ•ò        55000          2

üî• Î≥¥Ïä§ Î™π(Boss Level) ÎØ∏ÏÖò
ÏßÄÍ∏àÍπåÏßÄ Î∞∞Ïö¥ Î™®Îì† Ïä§ÌÇ¨(GROUP BY, HAVING, ORDER BY, LIMIT)ÏùÑ Ï¥ùÎèôÏõêÌï¥Ïïº Íπ∞ Ïàò ÏûàÎäî Î¨∏Ï†úÏûÖÎãàÎã§.

ÏãúÎÇòÎ¶¨Ïò§: ÏÇ¨Ïû•ÎãòÏù¥ Í∏âÌïòÍ≤å Î¨ªÏäµÎãàÎã§.

"Ïö∞Î¶¨ Í≥†Í∞ù Ï§ëÏóê '2Î≤à Ïù¥ÏÉÅ' Íµ¨Îß§Ìïú Ï∂©ÏÑ± Í≥†Í∞ùÎì§ Ï§ëÏóêÏÑú, **'Ï¥ù Íµ¨Îß§ Í∏àÏï°'Ïù¥ Í∞ÄÏû• ÎÜíÏùÄ Îî± 1Î™Ö(VIP)**Ïù¥ ÎàÑÍµ¨Ïïº? Í∑∏ ÏÇ¨Îûå IDÎûë Ï¥ùÏï° ÏïåÎ†§Ï§ò."

Ï°∞Í±¥:

Í≥†Í∞ùÎ≥Ñ(user_id)Î°ú Î¨∂Ïñ¥Ïïº Ìï®. (GROUP BY)

Íµ¨Îß§ ÌöüÏàò(COUNT)Í∞Ä 2Ìöå Ïù¥ÏÉÅÏù¥Ïñ¥Ïïº Ìï®. (HAVING)

Ï¥ù Íµ¨Îß§ Í∏àÏï°(SUM)Ïù¥ ÎÜíÏùÄ ÏàúÏÑúÎåÄÎ°ú Ï†ïÎ†¨Ìï¥Ïïº Ìï®. (ORDER BY DESC)

Îî± 1Î™ÖÎßå Î≥¥Ïó¨Ï§òÏïº Ìï®. (LIMIT)

In [14]:
sql_boss = """
SELECT user_id, SUM(amount) as total_spent, COUNT(order_id) as buy_count
FROM orders
GROUP BY user_id
HAVING COUNT(order_id) >= 2
ORDER BY SUM(amount) DESC
LIMIT 1;
"""

print(pd.read_sql(sql_boss, conn))

  user_id  total_spent  buy_count
0  User_A        60000          3

In [15]:
# 1. users ÌÖåÏù¥Î∏î ÎßåÎì§Í∏∞ (ÌöåÏõêÏ†ïÎ≥¥)
cur.execute('''
CREATE TABLE users (
    user_id VARCHAR(10) PRIMARY KEY,
    name VARCHAR(20),
    age INTEGER,
    city VARCHAR(20)
)
''')

# 2. Îç∞Ïù¥ÌÑ∞ ÎÑ£Í∏∞
# User_A, User_B: Ï£ºÎ¨∏ÎèÑ ÌïòÍ≥† ÌöåÏõêÍ∞ÄÏûÖÎèÑ Ìï® (Îß§Ïπ≠ ÏÑ±Í≥µ)
# User_E: Í∞ÄÏûÖÏùÄ ÌñàÎäîÎç∞ Ï£ºÎ¨∏ÏùÄ Ïïà Ìï® (LEFT JOIN ÌôïÏù∏Ïö©)
user_data = [
    ('User_A', 'Ï≤†Ïàò', 30, 'ÏÑúÏö∏'),
    ('User_B', 'ÏòÅÌù¨', 25, 'Î∂ÄÏÇ∞'),
    ('User_E', 'ÎØºÏàò', 40, 'ÎåÄÍµ¨')
]

cur.executemany('INSERT INTO users (user_id, name, age, city) VALUES (?, ?, ?, ?)', user_data)
conn.commit()

print("‚úÖ users ÌÖåÏù¥Î∏î ÏÉùÏÑ± ÏôÑÎ£å! Ïù¥Ï†ú ordersÏôÄ Î∂ôÏó¨Î¥ÖÏãúÎã§.")

‚úÖ users ÌÖåÏù¥Î∏î ÏÉùÏÑ± ÏôÑÎ£å! Ïù¥Ï†ú ordersÏôÄ Î∂ôÏó¨Î¥ÖÏãúÎã§.

In [22]:
sql_inner = """
SELECT users.name, orders.amount
FROM users
INNER JOIN orders
ON users.user_id = orders.user_id

"""
print(pd.read_sql(sql_inner, conn))

  name  amount
0   Ï≤†Ïàò   10000
1   ÏòÅÌù¨   25000
2   Ï≤†Ïàò   30000
3   ÏòÅÌù¨   30000
4   Ï≤†Ïàò   20000

In [ ]:
# Q1. Í∞ÄÏû• ÎßéÏù¥ ÌåîÎ¶∞ Ïπ¥ÌÖåÍ≥†Î¶¨ Ï∞æÍ∏∞
sql_q1 = """
SELECT category, SUM(amount) as total_sales
FROM orders
GROUP BY category
ORDER BY SUM(amount) DESC
LIMIT 1;
"""
print("--- [Î¨∏Ï†ú 1] Í≤∞Í≥º ---")
print(pd.read_sql(sql_q1, conn))

--- [Î¨∏Ï†ú 1] Í≤∞Í≥º ---
  category  total_sales
0       ÏùòÎ•ò        55000

In [32]:
sql_q2 = """
SELECT users.name, orders.amount
FROM users
INNER JOIN orders
ON users.user_id = orders.user_id
WHERE users.city = 'ÏÑúÏö∏'
"""
print("--- [Î¨∏Ï†ú 2] Í≤∞Í≥º ---")
print(pd.read_sql(sql_q2, conn))

--- [Î¨∏Ï†ú 2] Í≤∞Í≥º ---
  name  amount
0   Ï≤†Ïàò   10000
1   Ï≤†Ïàò   30000
2   Ï≤†Ïàò   20000

In [35]:
sql_q3 = """
SELECT users.city, SUM(orders.amount) AS total_amount
FROM users
INNER JOIN orders
ON users.user_id = orders.user_id
GROUP BY users.city
HAVING SUM(orders.amount) >= 40000
"""

print("--- [Î¨∏Ï†ú 3] Í≤∞Í≥º ---")
print(pd.read_sql(sql_q3, conn))

--- [Î¨∏Ï†ú 3] Í≤∞Í≥º ---
  city  total_amount
0   Î∂ÄÏÇ∞         55000
1   ÏÑúÏö∏         60000

In [36]:
sql_case = """
SELECT user_id, amount,
    CASE
        WHEN amount >= 30000 THEN 'VIP'    -- 1. 3ÎßåÏõê Ïù¥ÏÉÅÏù¥Î©¥ VIP
        WHEN amount >= 10000 THEN 'Gold'   -- 2. (ÏúÑÏóêÏÑú Í±∏Îü¨ÏßÄÍ≥†) ÎÇ®ÏùÄ Í≤É Ï§ë 1ÎßåÏõê Ïù¥ÏÉÅ
        ELSE 'Silver'                      -- 3. Í∑∏Í≤ÉÎèÑ ÏïÑÎãàÎ©¥ Silver
    END AS user_grade
FROM orders
ORDER BY amount DESC;
"""

print(pd.read_sql(sql_case, conn))

  user_id  amount user_grade
0  User_D   45000        VIP
1  User_A   30000        VIP
2  User_B   30000        VIP
3  User_B   25000       Gold
4  User_A   20000       Gold
5  User_A   10000       Gold
6  User_C    5000     Silver

In [ ]:
sql_age = """
SELECT name, age,
    CASE
        WHEN age >= 40 THEN '40ÎåÄÏù¥ÏÉÅ'
        WHEN age >= 30 THEN '30ÎåÄ'
        ELSE '20ÎåÄ'
    END AS age_group
FROM users
"""
print(pd.read_sql(sql_age, conn))

  name  age age_group
0   Ï≤†Ïàò   30       30ÎåÄ
1   ÏòÅÌù¨   25       20ÎåÄ
2   ÎØºÏàò   40     40ÎåÄÏù¥ÏÉÅ

In [41]:
# ÌèâÍ∑†Î≥¥Îã§ ÎπÑÏãº Ï£ºÎ¨∏ Ï∞æÍ∏∞
sql_sub = """
SELECT user_id, amount, category
FROM orders
WHERE amount > (
    SELECT AVG(amount) FROM orders
)
"""
print(pd.read_sql(sql_sub, conn))

  user_id  amount category
0  User_B   25000       ÏùòÎ•ò
1  User_A   30000       ÏùòÎ•ò
2  User_B   30000     Ï†ÑÏûêÏ†úÌíà
3  User_D   45000       Í∞ÄÍµ¨

In [42]:
# ÌèâÍ∑†Í∞íÎßå Îî± ÌïòÎÇò ÎΩëÏïÑÎ≥¥Í∏∞
sql_avg = "SELECT AVG(amount) FROM orders"
print(pd.read_sql(sql_avg, conn))

    AVG(amount)
0  23571.428571