ë„¤, ì™„ë²½í•©ë‹ˆë‹¤\! PK/FK ì‹¤ìŠµê¹Œì§€ ë§ˆì¹˜ì…¨ìœ¼ë‹ˆ ì´ì œ \*\*ë°ì´í„°ì˜ ê´€ê³„(Relationship)\*\*ì— ëŒ€í•œ ê°ê°ì´ í™•ì‹¤íˆ ì¡íˆì…¨ì„ ê²ë‹ˆë‹¤.

ì, ì´ì œ **[ë¶€íŠ¸ìº í”„ 3ì¼ì°¨]** ì •ê·œ ì»¤ë¦¬í˜ëŸ¼ìœ¼ë¡œ ëŒì•„ê°‘ë‹ˆë‹¤.
ì˜¤ëŠ˜ì˜ ì£¼ì œëŠ” ì˜ˆê³ í•´ ë“œë¦° ëŒ€ë¡œ \*\*ë°ì´í„° ë¶„ì„ê°€ì˜ í•„ìˆ˜ ë¬´ê¸°, [SQL]\*\*ì…ë‹ˆë‹¤.

-----

# ğŸ”¥ ë¶€íŠ¸ìº í”„ 3ì¼ì°¨: "ë°ì´í„°ëŠ” DBì— ìˆë‹¤" (SQL + Python)

ì§€ê¸ˆê¹Œì§€ ìš°ë¦¬ëŠ” `csv` íŒŒì¼ì´ë‚˜ ì œê°€ ë§Œë“  ë”•ì…”ë„ˆë¦¬ ë°ì´í„°ë¥¼ ì¼ìŠµë‹ˆë‹¤.
í•˜ì§€ë§Œ íšŒì‚¬ì— ì¶œê·¼í•˜ë©´ íŒ€ì¥ë‹˜ì´ ì—‘ì…€ íŒŒì¼ì„ ì£¼ì§€ ì•ŠìŠµë‹ˆë‹¤. ëŒ€ì‹  ì´ë ‡ê²Œ ë§í•˜ì£ .

> **"DB(ë°ì´í„°ë² ì´ìŠ¤) ì ‘ì† ê¶Œí•œ ì¤„ í…Œë‹ˆê¹Œ, ì§ì ‘ ì¿¼ë¦¬(Query) ë‚ ë ¤ì„œ ë°ì´í„° ë½‘ì•„ë³´ì„¸ìš”."**

ì˜¤ëŠ˜ì€ \*\*[íŒŒì´ì¬ ì•ˆì—ì„œ SQLì„ ì‚¬ìš©í•˜ëŠ” ë²•]\*\*ì„ ìµíˆê³ , ì§€ë‚œë²ˆì— Pandasë¡œ í˜ë“¤ê²Œ í–ˆë˜ **RFM ë¶„ì„ì„ SQL í•œ ë°©ìœ¼ë¡œ ëë‚´ëŠ” "Pro"ì˜ ê¸°ìˆ **ì„ ì „ìˆ˜í•´ ë“œë¦½ë‹ˆë‹¤.

-----

### ğŸ“‚ 1. í´ë” ë° íŒŒì¼ ìƒì„±

SQLì€ ì„±ê²©ì´ ë‹¤ë¥´ë‹ˆ ìƒˆ í´ë”ë¥¼ íŒŒëŠ” ê²Œ ì¢‹ìŠµë‹ˆë‹¤.

  * **í´ë”ëª…:** `04_SQL_Analysis`
  * **íŒŒì¼ëª…:** `practice_sql_basics.ipynb`

-----

### 2\. SQL ê¸°ì´ˆ ì¿¼ë¦¬ ë§›ë³´ê¸°: "íŒë‹¤ìŠ¤ë‘ ì–´ë–»ê²Œ ë‹¬ë¼ìš”?"

ë°ì´í„°ê°€ DBì— ë“¤ì–´ê°”ìœ¼ë‹ˆ, ì´ì œ íŒë‹¤ìŠ¤ ë¬¸ë²•ì´ ì•„ë‹ˆë¼ **SQL ì¿¼ë¦¬**ë¡œ ë°ì´í„°ë¥¼ êº¼ë‚´ì™€ì•¼ í•©ë‹ˆë‹¤.
`pd.read_sql()` í•¨ìˆ˜ê°€ ë§ˆë²•ì˜ ë‹¤ë¦¬ ì—­í• ì„ í•©ë‹ˆë‹¤.

```python
# SQL ë¬¸ë²•: SELECT (ê°€ì ¸ì™€ë¼) * (ëª¨ë“  ì»¬ëŸ¼ì„) FROM (ì–´ë””ì„œ?)
query = "SELECT * FROM orders"

# DBì—ì„œ ì¿¼ë¦¬ ì‹¤í–‰ ê²°ê³¼ë¥¼ ë°”ë¡œ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ê°€ì ¸ì˜¤ê¸°
result = pd.read_sql(query, conn)

print("=== SQLë¡œ ì¡°íšŒí•œ ì „ì²´ ë°ì´í„° ===")
print(result)
```

-----

### 3\. [í•µì‹¬] RFM ë¶„ì„, SQL í•œ ë°©ìœ¼ë¡œ ëë‚´ê¸° ğŸ”¥

ì§€ë‚œë²ˆì— Pandasë¡œ `groupby`, `agg`, `lambda` ì¨ì„œ ë³µì¡í•˜ê²Œ RFM ë§Œë“¤ì—ˆë˜ ê²ƒ ê¸°ì–µë‚˜ì‹œì£ ?
SQLì„ ì˜í•˜ë©´ ê·¸ ê³¼ì •ì„ **ì¿¼ë¦¬ë¬¸ í•˜ë‚˜**ë¡œ ëë‚¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤. í˜„ì—…ì—ì„  ë°ì´í„°ê°€ ë„ˆë¬´ ì»¤ì„œ(ìˆ˜ì–µ ê±´) íŒŒì´ì¬ìœ¼ë¡œ ëª» ë¶ˆëŸ¬ì˜¤ê¸° ë•Œë¬¸ì— **ë°˜ë“œì‹œ SQLë¡œ ìš”ì•½í•´ì„œ ê°€ì ¸ì™€ì•¼ í•©ë‹ˆë‹¤.**

**ì´ ì¿¼ë¦¬ë¥¼ ì´í•´í•˜ê³  ì‹¤í–‰í•˜ëŠ” ê²ƒì´ ì˜¤ëŠ˜ 3ì¼ì°¨ì˜ ëª©í‘œì…ë‹ˆë‹¤.**

-----

### âœ… 3ì¼ì°¨ ê³¼ì œ & ìƒê°í•  ê±°ë¦¬

1.  ìœ„ ì½”ë“œë¥¼ `practice_sql_basics.ipynb` íŒŒì¼ì— ì‘ì„±í•˜ê³  ì‹¤í–‰í•´ë³´ì„¸ìš”.
2.  **ê²°ê³¼ ë¹„êµ:** 1ì¼ì°¨/2ì¼ì°¨ ë•Œ Pandasë¡œ ë§Œë“¤ì—ˆë˜ `user_df` (RFM ë°ì´í„°)ì™€ ë°©ê¸ˆ SQLë¡œ ë½‘ì€ `rfm_df`ê°€ ë˜‘ê°™ì€ì§€ í™•ì¸í•´ë³´ì„¸ìš”.
3.  **ëŠë‚€ ì :** "ì™€, Pandasë¡œ 10ì¤„ ì§¤ ê±° SQLë¡œëŠ” 5ì¤„ì´ë©´ ë˜ë„¤?" í˜¹ì€ "ëŒ€ìš©ëŸ‰ ë°ì´í„°ëŠ” ì´ë ‡ê²Œ ì²˜ë¦¬í•´ì•¼ê² êµ¬ë‚˜"ë¼ëŠ” ê°ì„ ì¡ìœ¼ì‹œë©´ ì„±ê³µì…ë‹ˆë‹¤.

ì‹¤í–‰í•´ ë³´ì‹œê³  ê²°ê³¼ê°€ ì˜ ë‚˜ì˜¤ëŠ”ì§€, í˜¹ì€ ì—ëŸ¬ê°€ ë‚˜ëŠ”ì§€ ì•Œë ¤ì£¼ì„¸ìš”\! (SQL ë¬¸ë²• ì—ëŸ¬ëŠ” ì½¤ë§ˆ(,) í•˜ë‚˜ë§Œ ë¹ ì ¸ë„ ë‚©ë‹ˆë‹¤\!)

In [1]:
import sqlite3
import pandas as pd

# 1. ê°€ìƒì˜ DB íŒŒì¼ ìƒì„± (ì—†ìœ¼ë©´ ë§Œë“¤ê³ , ìˆìœ¼ë©´ ì—°ê²°í•¨)
conn = sqlite3.connect('ecommerce.db') 

# 2. ì‹¤ìŠµìš© ë°ì´í„° ì¤€ë¹„ (ìš°ë¦¬ê°€ ê³„ì† ì“°ë˜ ê·¸ ë°ì´í„°!)
# ì£¼ë¬¸ ë‚´ì—­ (Transaction)
orders_data = {
    'order_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'user_id': [1, 2, 1, 3, 1, 2, 4, 5, 2, 1], 
    'order_date': ['2024-01-01', '2024-01-02', '2024-01-05', '2024-01-07', 
                   '2024-01-10', '2024-01-12', '2024-01-15', '2024-01-20',
                   '2024-01-25', '2024-01-28'],
    'amount': [10000, 25000, 12000, 50000, 10000, 30000, 15000, 80000, 20000, 11000]
}

# ìœ ì € ì •ë³´ (Demographics)
users_data = {
    'user_id': [1, 2, 3, 4, 5],
    'age': [25, 35, 22, 45, 31],
    'gender': ['M', 'F', 'F', 'M', 'F']
}

# 3. ë°ì´í„°í”„ë ˆì„ ìƒì„± í›„ DBì— ì €ì¥ (to_sql)
# ì´ ê³¼ì •ì´ "DBì— í…Œì´ë¸”ì„ ì ì¬(Insert)í•˜ëŠ” ê³¼ì •"ì…ë‹ˆë‹¤.
df_orders = pd.DataFrame(orders_data)
df_users = pd.DataFrame(users_data)

# if_exists='replace': ì´ë¯¸ ìˆìœ¼ë©´ ë®ì–´ì”Œì›Œë¼
df_orders.to_sql('orders', conn, if_exists='replace', index=False)
df_users.to_sql('users', conn, if_exists='replace', index=False)

print("âœ… DB ìƒì„± ë° ë°ì´í„° ì ì¬ ì™„ë£Œ!")

âœ… DB ìƒì„± ë° ë°ì´í„° ì ì¬ ì™„ë£Œ!

In [2]:
query = "SELECT * FROM orders"

result = pd.read_sql(query, conn)

print("=== SQLë¡œ ì¡°íšŒí•œ ì „ì²´ ë°ì´í„° ===")
print(result)

=== SQLë¡œ ì¡°íšŒí•œ ì „ì²´ ë°ì´í„° ===
   order_id  user_id  order_date  amount
0         1        1  2024-01-01   10000
1         2        2  2024-01-02   25000
2         3        1  2024-01-05   12000
3         4        3  2024-01-07   50000
4         5        1  2024-01-10   10000
5         6        2  2024-01-12   30000
6         7        4  2024-01-15   15000
7         8        5  2024-01-20   80000
8         9        2  2024-01-25   20000
9        10        1  2024-01-28   11000

In [3]:
cutoff_date = '2024-02-01'

rfm_query = f"""
SELECT
    user_id,
    -- 1. Recency: ê¸°ì¤€ì¼ - ë§ˆì§€ë§‰ êµ¬ë§¤ì¼ (ì¤„ë¦¬ì•ˆ ë°ì´ ë³€í™˜ ë“±ì„ í†µí•´ ì¼ìˆ˜ ê³„ì‚°)
    -- sqliteì—ì„œëŠ” julianday í•¨ìˆ˜ë¥¼ ì”ë‹ˆë‹¤. (Oracle/MySQLì€ ë¬¸ë²•ì´ ì¡°ê¸ˆ ë‹¤ë¦„)
    CAST(julianday('{cutoff_date}') - julianday(MAX(order_date)) AS INTEGER) AS Recency,

    -- 2. Frequency: êµ¬ë§¤ íšŸìˆ˜ ì¹´ìš´íŠ¸
    COUNT(order_id) AS Frequency,

    -- 3. Monetary: ì´ êµ¬ë§¤ ê¸ˆì•¡ í•©ê³„
    SUM(amount) AS Monetary
FROM orders
GROUP BY user_id
"""

rfm_df = pd.read_sql(rfm_query, conn)

print("=== ğŸš€ SQLë¡œ í•œ ë²ˆì— ë½‘ì€ RFM ë°ì´í„° ===")
print(rfm_df)

=== ğŸš€ SQLë¡œ í•œ ë²ˆì— ë½‘ì€ RFM ë°ì´í„° ===
   user_id  Recency  Frequency  Monetary
0        1        4          4     43000
1        2        7          3     75000
2        3       25          1     50000
3        4       17          1     15000
4        5       12          1     80000

In [8]:
join_query = """
SELECT 
    o.order_id,
    o.amount,
    u.user_id,
    u.age,
    u.gender
FROM orders o
LEFT JOIN users u ON o.user_id = u.user_id
"""

join_result = pd.read_sql(join_query, conn)

print("\n=== ğŸ”— SQL JOIN ê²°ê³¼ (ì£¼ë¬¸ + ìœ ì €ì •ë³´) ===")
print(join_result.head())

conn.close()

=== ğŸ”— SQL JOIN ê²°ê³¼ (ì£¼ë¬¸ + ìœ ì €ì •ë³´) ===
   order_id  amount  user_id  age gender
0         1   10000        1   25      M
1         2   25000        2   35      F
2         3   12000        1   25      M
3         4   50000        3   22      F
4         5   10000        1   25      M

ê°€ìƒì˜ orders (ì£¼ë¬¸) í…Œì´ë¸”ì´ ìˆë‹¤ê³  ê°€ì •í•´ ë´…ì‹œë‹¤.

ì»¬ëŸ¼: user_id (ê³ ê°ID), amount (ì£¼ë¬¸ê¸ˆì•¡), category (ìƒí’ˆì¢…ë¥˜)

Q. "ê° ê³ ê°(user_id)ë³„ë¡œ ì´ ì–¼ë§ˆë¥¼ ì£¼ë¬¸í–ˆëŠ”ì§€(SUM) êµ¬í•˜ê³ , ì´ì£¼ë¬¸ ê¸ˆì•¡ì´ 50,000ì› ì´ìƒì¸ ê³ ê°ë§Œ ë½‘ì•„ì£¼ì„¸ìš”."

ì´ ì¿¼ë¦¬ë¥¼ ì–´ë–»ê²Œ ì‘ì„±í•˜ë©´ ë ê¹Œìš”? í•œë²ˆ ì‘ì„±í•´ ë³´ì‹œê² ì–´ìš”? (í‹€ë ¤ë„ ê´œì°®ìŠµë‹ˆë‹¤!)

In [2]:
import sqlite3
import pandas as pd

# 1. ê°€ìƒì˜ ë°ì´í„°ë² ì´ìŠ¤ ìƒì„± (ë©”ëª¨ë¦¬ ë‚´ì— ìƒì„±)
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# 2. í…Œì´ë¸” ë§Œë“¤ê¸° (user_id, amount, category)
cur.execute('''
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    user_id VARCHAR(10),
    amount INTEGER,
    category VARCHAR(20)
)
''')

# 3. ë°ì´í„° ë„£ê¸° (ìƒ˜í”Œ ë°ì´í„°)
data = [
    ('User_A', 10000, 'ì „ìì œí’ˆ'),
    ('User_B', 25000, 'ì˜ë¥˜'),
    ('User_A', 30000, 'ì˜ë¥˜'),
    ('User_C', 5000, 'ì‹í’ˆ'),
    ('User_B', 30000, 'ì „ìì œí’ˆ'),
    ('User_A', 20000, 'ì‹í’ˆ'),
    ('User_D', 45000, 'ê°€êµ¬')
]

cur.executemany('INSERT INTO orders (user_id, amount, category) VALUES (?, ?, ?)', data)
conn.commit()

print("âœ… ë°ì´í„° ì¤€ë¹„ ì™„ë£Œ! ì´ì œ ì•„ë˜ ì¹¸ë¶€í„° SQLì„ ì—°ìŠµí•˜ë©´ ë©ë‹ˆë‹¤.")

print(pd.read_sql("SELECT * FROM orders", conn))

âœ… ë°ì´í„° ì¤€ë¹„ ì™„ë£Œ! ì´ì œ ì•„ë˜ ì¹¸ë¶€í„° SQLì„ ì—°ìŠµí•˜ë©´ ë©ë‹ˆë‹¤.
   order_id user_id  amount category
0         1  User_A   10000     ì „ìì œí’ˆ
1         2  User_B   25000       ì˜ë¥˜
2         3  User_A   30000       ì˜ë¥˜
3         4  User_C    5000       ì‹í’ˆ
4         5  User_B   30000     ì „ìì œí’ˆ
5         6  User_A   20000       ì‹í’ˆ
6         7  User_D   45000       ê°€êµ¬

In [12]:
sql = """

SELECT user_id, category, SUM(amount) AS total_spent,
    COUNT(order_id) AS Frequency
FROM orders
GROUP BY user_id
HAVING SUM(amount) >= 10000 AND COUNT(order_id) >= 2

"""

print(pd.read_sql(sql, conn))

  user_id category  total_spent  Frequency
0  User_A     ì „ìì œí’ˆ        60000          3
1  User_B       ì˜ë¥˜        55000          2

ğŸ”¥ ë³´ìŠ¤ ëª¹(Boss Level) ë¯¸ì…˜
ì§€ê¸ˆê¹Œì§€ ë°°ìš´ ëª¨ë“  ìŠ¤í‚¬(GROUP BY, HAVING, ORDER BY, LIMIT)ì„ ì´ë™ì›í•´ì•¼ ê¹° ìˆ˜ ìˆëŠ” ë¬¸ì œì…ë‹ˆë‹¤.

ì‹œë‚˜ë¦¬ì˜¤: ì‚¬ì¥ë‹˜ì´ ê¸‰í•˜ê²Œ ë¬»ìŠµë‹ˆë‹¤.

"ìš°ë¦¬ ê³ ê° ì¤‘ì— '2ë²ˆ ì´ìƒ' êµ¬ë§¤í•œ ì¶©ì„± ê³ ê°ë“¤ ì¤‘ì—ì„œ, **'ì´ êµ¬ë§¤ ê¸ˆì•¡'ì´ ê°€ì¥ ë†’ì€ ë”± 1ëª…(VIP)**ì´ ëˆ„êµ¬ì•¼? ê·¸ ì‚¬ëŒ IDë‘ ì´ì•¡ ì•Œë ¤ì¤˜."

ì¡°ê±´:

ê³ ê°ë³„(user_id)ë¡œ ë¬¶ì–´ì•¼ í•¨. (GROUP BY)

êµ¬ë§¤ íšŸìˆ˜(COUNT)ê°€ 2íšŒ ì´ìƒì´ì–´ì•¼ í•¨. (HAVING)

ì´ êµ¬ë§¤ ê¸ˆì•¡(SUM)ì´ ë†’ì€ ìˆœì„œëŒ€ë¡œ ì •ë ¬í•´ì•¼ í•¨. (ORDER BY DESC)

ë”± 1ëª…ë§Œ ë³´ì—¬ì¤˜ì•¼ í•¨. (LIMIT)

In [ ]:

sql_boss = """
SELECT user_id, SUM(amount) as total_spent, COUNT(order_id) as buy_count
FROM orders
-- 1. ë¬¶ê³  (GROUP BY)
-- 2. ì¡°ê±´ ê±¸ê³  (HAVING)
-- 3. ì¤„ ì„¸ìš°ê³  (ORDER BY)
-- 4. ìë¥´ê¸° (LIMIT)
"""

print(pd.read_sql(sql_boss, conn))