SQLD(SQL ê°œë°œì) ìê²©ì¦ ì·¨ë“ì„ ëª©í‘œë¡œ í•˜ì‹œëŠ”êµ°ìš”! ì •ë§ ì¢‹ì€ ì„ íƒì…ë‹ˆë‹¤. ë°ì´í„° ë¶„ì„ê°€ë¡œì„œ ì»¤ë¦¬ì–´ë¥¼ ìŒ“ëŠ” ë° ìˆì–´ SQL ì‹¤ë ¥ì„ ì¦ëª…í•  ìˆ˜ ìˆëŠ” ê°€ì¥ í™•ì‹¤í•œ ë°©ë²• ì¤‘ í•˜ë‚˜ì…ë‹ˆë‹¤.

ê¸°ì¡´ì— ì§„í–‰í•˜ì‹œë˜ `04_SQL_Analysis` í´ë”ë¥¼ í™œìš©í•´ì„œ, SQLD ì‹œí—˜ì— ë”± ë§ì¶˜ **"í•µì‹¬ ê³µëµ ë¡œë“œë§µ"**ì„ ì§œë“œë¦¬ê² ìŠµë‹ˆë‹¤. SQLDëŠ” ì‹¤ê¸° ì—†ì´ í•„ê¸°(ê°ê´€ì‹ + ë‹¨ë‹µí˜•)ë¡œë§Œ êµ¬ì„±ë˜ì§€ë§Œ, ì¿¼ë¦¬ë¥¼ ì§ì ‘ ì§œë³´ì§€ ì•Šìœ¼ë©´ í’€ ìˆ˜ ì—†ëŠ” ë¬¸ì œë“¤ì´ ë§ìŠµë‹ˆë‹¤.

---

### ğŸ“… SQLD í•©ê²© ì „ëµ (2ì£¼ ì™„ì„± ì½”ìŠ¤)

SQLD ì‹œí—˜ì€ í¬ê²Œ **2ê³¼ëª©**ìœ¼ë¡œ ë‚˜ë‰©ë‹ˆë‹¤. ì „ëµì ìœ¼ë¡œ ì ‘ê·¼í•´ì•¼ í•©ë‹ˆë‹¤.

| ê³¼ëª© | ë‚´ìš© | ë¬¸í•­ìˆ˜ | ë°°ì  | ëª©í‘œ ì ìˆ˜ | íŠ¹ì§• |
| --- | --- | --- | --- | --- | --- |
| **1ê³¼ëª©** | **ë°ì´í„° ëª¨ë¸ë§ì˜ ì´í•´** | 10ë¬¸í•­ | 20ì  | 12ì  ì´ìƒ | ì´ë¡  ìœ„ì£¼. ìš©ì–´ ì•”ê¸°ê°€ ì¤‘ìš”. (ê³¼ë½ ì£¼ì˜!) |
| **2ê³¼ëª©** | **SQL ê¸°ë³¸ ë° í™œìš©** | 40ë¬¸í•­ | 80ì  | 60ì  ì´ìƒ | ë©”ì¸ ìŠ¹ë¶€ì²˜. í•¨ìˆ˜, JOIN, ê³„ì¸µí˜• ì¿¼ë¦¬ ë“±. |

---

### ğŸ“š 1ë‹¨ê³„: 1ê³¼ëª© - ë°ì´í„° ëª¨ë¸ë§ (ì´ë¡  ì¡ê¸°)

1ê³¼ëª©ì€ ì½”ë”©ë³´ë‹¤ëŠ” **"ë°ì´í„°ë² ì´ìŠ¤ ì„¤ê³„ ë„ë©´(ERD)ì„ ì½ëŠ” ë²•"**ì„ ë¬»ìŠµë‹ˆë‹¤.

#### 1. ì—”í„°í‹°(Entity), ì†ì„±(Attribute), ê´€ê³„(Relationship)

ë°ì´í„° ëª¨ë¸ë§ì˜ 3ëŒ€ ìš”ì†Œì…ë‹ˆë‹¤.

* **ì—”í„°í‹°:** ë°ì´í„°ë² ì´ìŠ¤ì— ì €ì¥ë˜ëŠ” ëª…ì‚¬ (ì˜ˆ: í•™ìƒ, ê³¼ëª©)
* **ì†ì„±:** ì—”í„°í‹°ì˜ íŠ¹ì§• (ì˜ˆ: í•™ë²ˆ, ì´ë¦„, ê³¼ëª©ëª…)
* **ê´€ê³„:** ì—”í„°í‹° ê°„ì˜ ì—°ê´€ì„± (ì˜ˆ: ìˆ˜ê°•í•˜ë‹¤)

ì´ 3ê°€ì§€ë¥¼ ê·¸ë¦¼ìœ¼ë¡œ ê·¸ë¦° ê²ƒì´ **ERD(Entity Relationship Diagram)**ì…ë‹ˆë‹¤. ì‹œí—˜ì—ëŠ” ì´ ê·¸ë¦¼ì„ ë³´ê³  í•´ì„í•˜ëŠ” ë¬¸ì œê°€ ë‚˜ì˜µë‹ˆë‹¤.

#### 2. ì •ê·œí™” (Normalization) â˜…â˜…â˜…

ë°ì´í„°ì˜ ì¤‘ë³µì„ ì œê±°í•˜ê³  ì´ìƒ í˜„ìƒ(Anomaly)ì„ ë°©ì§€í•˜ëŠ” ê³¼ì •ì…ë‹ˆë‹¤. ì‹œí—˜ì— **ë¬´ì¡°ê±´** ë‚˜ì˜µë‹ˆë‹¤.

* **ì œ1ì •ê·œí™” (1NF):** ëª¨ë“  ì†ì„±ì€ ì›ìê°’(í•˜ë‚˜ì˜ ê°’)ë§Œ ê°€ì ¸ì•¼ í•œë‹¤.
* **ì œ2ì •ê·œí™” (2NF):** ê¸°ë³¸í‚¤ì˜ ë¶€ë¶„ ì§‘í•©ì— ì˜ì¡´í•˜ëŠ” ì†ì„±ì„ ë¶„ë¦¬í•œë‹¤. (ë¶€ë¶„ í•¨ìˆ˜ ì¢…ì† ì œê±°)
* **ì œ3ì •ê·œí™” (3NF):** ê¸°ë³¸í‚¤ê°€ ì•„ë‹Œ ì†ì„±ë¼ë¦¬ ì˜ì¡´í•˜ëŠ” ê²ƒì„ ë¶„ë¦¬í•œë‹¤. (ì´í–‰ í•¨ìˆ˜ ì¢…ì† ì œê±°)

---

### ğŸ’» 2ë‹¨ê³„: 2ê³¼ëª© - SQL ê¸°ë³¸ ë° í™œìš© (ì‹¤ì „ ì¿¼ë¦¬)

ì—¬ëŸ¬ë¶„ì´ `04_SQL_Analysis`ì—ì„œ í–ˆë˜ ì‹¤ìŠµì´ ì—¬ê¸°ì„œ ë¹›ì„ ë°œí•©ë‹ˆë‹¤. í•˜ì§€ë§Œ ì‹œí—˜ìš© í•¨ì •ì„ ì¡°ì‹¬í•´ì•¼ í•©ë‹ˆë‹¤.

#### 1. SQL ì‹¤í–‰ ìˆœì„œ (ë§¤ìš° ì¤‘ìš”!)

ìš°ë¦¬ê°€ ì½”ë“œë¥¼ ì“°ëŠ” ìˆœì„œì™€ **ì‹¤ì œ DBê°€ ì‹¤í–‰í•˜ëŠ” ìˆœì„œ**ëŠ” ë‹¤ë¦…ë‹ˆë‹¤. ì´ ìˆœì„œë¥¼ ëª¨ë¥´ë©´ "Alias(ë³„ì¹­)" ê´€ë ¨ ë¬¸ì œì—ì„œ í‹€ë¦½ë‹ˆë‹¤.

> **ì•”ê¸° ê³µì‹:** `FROM` â†’ `WHERE` â†’ `GROUP BY` â†’ `HAVING` â†’ `SELECT` â†’ `ORDER BY`
> * *íŒ: `SELECT`ì—ì„œ ë§Œë“  ë³„ì¹­(Alias)ì€ `WHERE` ì ˆì—ì„œ ì“¸ ìˆ˜ ì—†ìŠµë‹ˆë‹¤. (ì•„ì§ SELECTê°€ ì‹¤í–‰ ì•ˆ ëìœ¼ë‹ˆê¹Œìš”!)*
> 
> 

#### 2. JOINì˜ ì¢…ë¥˜ (ë²¤ ë‹¤ì´ì–´ê·¸ë¨ìœ¼ë¡œ ì´í•´í•˜ê¸°)

ë‘ ê°œ ì´ìƒì˜ í…Œì´ë¸”ì„ í•©ì¹  ë•Œ, ì–´ë–¤ ì§‘í•©ì„ ê°€ì ¸ì˜¤ëŠëƒì˜ ë¬¸ì œì…ë‹ˆë‹¤.

* **INNER JOIN:** êµì§‘í•© (ë‘˜ ë‹¤ ìˆëŠ” ê²ƒë§Œ)
* **LEFT/RIGHT OUTER JOIN:** í•œìª½ì€ ë‹¤ ë³´ì—¬ì£¼ê³ , ë°˜ëŒ€ìª½ì€ ì—†ìœ¼ë©´ NULL.

#### 3. NULL í•¨ìˆ˜ì™€ ì§‘ê³„ í•¨ìˆ˜

SQLDì˜ ë‹¨ê³¨ í•¨ì •ì…ë‹ˆë‹¤.

* `COUNT(*)` vs `COUNT(ì»¬ëŸ¼ëª…)`: `COUNT(ì»¬ëŸ¼ëª…)`ì€ **NULLì„ ì„¸ì§€ ì•ŠìŠµë‹ˆë‹¤.**
* `SUM(ì»¬ëŸ¼)`: NULLì€ ë¬´ì‹œí•˜ê³  ë”í•©ë‹ˆë‹¤. (NULL + 100 = NULLì´ì§€ë§Œ, SUMì—ì„œëŠ” ê·¸ëƒ¥ 100)
* **NVL(Oracle) / ISNULL(SQL Server):** NULLì„ 0ì´ë‚˜ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ë°”ê¾¸ëŠ” í•¨ìˆ˜.

#### 4. ìœˆë„ìš° í•¨ìˆ˜ (ìˆœìœ„ ë§¤ê¸°ê¸°)

* `RANK()`: 1, 2, 2, 4ë“± (ê³µë™ ë“±ìˆ˜ í›„ ê±´ë„ˆëœ€)
* `DENSE_RANK()`: 1, 2, 2, 3ë“± (ê±´ë„ˆë›°ì§€ ì•ŠìŒ)
* `ROW_NUMBER()`: 1, 2, 3, 4ë“± (ë¬´ì¡°ê±´ ê³ ìœ  ë²ˆí˜¸)

In [3]:
import pandas as pd
import sqlite3

# 1. ê°€ìƒì˜ DB ë§Œë“¤ê¸°
conn = sqlite3.connect(':memory:')

# 2. í…Œì´ë¸” ë°ì´í„° ìƒì„± (SQLD ê¸°ì¶œ ìœ í˜•)
# EMP(ì§ì›) í…Œì´ë¸”
emp_data = {
    'EMP_ID': [100, 101, 102, 103, 104],
    'NAME': ['ì² ìˆ˜', 'ì˜í¬', 'ë¯¼ìˆ˜', 'ì§€ìˆ˜', 'ë™í˜„'],
    'DEPT_ID': [10, 10, 20, None, 30], # ì§€ìˆ˜ëŠ” ë¶€ì„œê°€ ì—†ìŒ(NULL)
    'SALARY': [3000, 3500, 4000, 2500, 4500]
}
# DEPT(ë¶€ì„œ) í…Œì´ë¸”
dept_data = {
    'DEPT_ID': [10, 20, 40], # 30ë²ˆ ë¶€ì„œëŠ” ì—¬ê¸° ì—†ìŒ
    'DEPT_NAME': ['ì¸ì‚¬íŒ€', 'ê°œë°œíŒ€', 'ê¸°íšíŒ€']
}

df_emp = pd.DataFrame(emp_data)
df_dept = pd.DataFrame(dept_data)

# DBì— ì €ì¥
df_emp.to_sql('EMP', conn, index=False)
df_dept.to_sql('DEPT', conn, index=False)

def run_query(q):
    return pd.read_sql(q, conn)

# -------------------------------------------------------
# Q1. INNER JOIN vs LEFT JOIN ì°¨ì´ í™•ì¸í•˜ê¸°
# -------------------------------------------------------
print("1. INNER JOIN ê²°ê³¼ (êµì§‘í•©):")
# ë¬¸ì œ: ë¶€ì„œê°€ ë°°ì •ëœ ì§ì›ë§Œ ë‚˜ì˜µë‹ˆë‹¤. (ì§€ìˆ˜ ì œì™¸, 30ë²ˆ ë¶€ì„œ ë™í˜„ ì œì™¸)
print(run_query("""
    SELECT A.NAME, B.DEPT_NAME
    FROM EMP A
    INNER JOIN DEPT B ON A.DEPT_ID = B.DEPT_ID
"""))

print("\n2. LEFT JOIN ê²°ê³¼ (ì „ì²´ ì§ì›):")
# ë¬¸ì œ: ë¶€ì„œê°€ ì—†ëŠ” 'ì§€ìˆ˜'ì™€ ë¶€ì„œì •ë³´ì— ì—†ëŠ” ë¶€ì„œì¸ 'ë™í˜„'ì€ ì–´ë–»ê²Œ ë‚˜ì˜¬ê¹Œìš”?
print(run_query("""
    SELECT A.NAME, A.DEPT_ID, B.DEPT_NAME
    FROM EMP A
    LEFT JOIN DEPT B ON A.DEPT_ID = B.DEPT_ID
"""))

# -------------------------------------------------------
# Q2. NULL ì²˜ë¦¬ê°€ í¬í•¨ëœ ì§‘ê³„ (í•¨ì • ë¬¸ì œ)
# -------------------------------------------------------
print("\n3. COUNT í•¨ìˆ˜ì˜ í•¨ì •:")
# ë¬¸ì œ: ì „ì²´ í–‰ ê°œìˆ˜ vs ë¶€ì„œIDê°€ ìˆëŠ” í–‰ ê°œìˆ˜ ì°¨ì´
print(run_query("""
    SELECT 
        COUNT(*) as ì „ì²´í–‰ìˆ˜,
        COUNT(DEPT_ID) as ë¶€ì„œìˆëŠ”ì§ì›ìˆ˜,
        SUM(SALARY) as ê¸‰ì—¬í•©ê³„
    FROM EMP
"""))

1. INNER JOIN ê²°ê³¼ (êµì§‘í•©):
  NAME DEPT_NAME
0   ì² ìˆ˜       ì¸ì‚¬íŒ€
1   ì˜í¬       ì¸ì‚¬íŒ€
2   ë¯¼ìˆ˜       ê°œë°œíŒ€

2. LEFT JOIN ê²°ê³¼ (ì „ì²´ ì§ì›):
  NAME  DEPT_ID DEPT_NAME
0   ì² ìˆ˜     10.0       ì¸ì‚¬íŒ€
1   ì˜í¬     10.0       ì¸ì‚¬íŒ€
2   ë¯¼ìˆ˜     20.0       ê°œë°œíŒ€
3   ì§€ìˆ˜      NaN       NaN
4   ë™í˜„     30.0       NaN

3. COUNT í•¨ìˆ˜ì˜ í•¨ì •:
   ì „ì²´í–‰ìˆ˜  ë¶€ì„œìˆëŠ”ì§ì›ìˆ˜   ê¸‰ì—¬í•©ê³„
0     5        4  17500

In [5]:
print("\n=== ê³ ì—°ë´‰ì(4000 ì´ìƒ) ì¡°íšŒ ===")
print(run_query("SELECT * FROM EMP WHERE SALARY >= 4000"))

print("\n=== 10ë²ˆ ë¶€ì„œ ì¤‘ 3000 ì´ˆê³¼ ìˆ˜ë ¹ì ===")
print(run_query("""
    SELECT * 
    FROM EMP 
    WHERE DEPT_ID = 10 AND SALARY > 3000
"""))

=== ê³ ì—°ë´‰ì(4000 ì´ìƒ) ì¡°íšŒ ===
   EMP_ID NAME  DEPT_ID  SALARY
0     102   ë¯¼ìˆ˜     20.0    4000
1     104   ë™í˜„     30.0    4500

=== 10ë²ˆ ë¶€ì„œ ì¤‘ 3000 ì´ˆê³¼ ìˆ˜ë ¹ì ===
   EMP_ID NAME  DEPT_ID  SALARY
0     101   ì˜í¬     10.0    3500

In [7]:
print("\n=== ì—°ë´‰ ë­í‚¹ (ë‚´ë¦¼ì°¨ìˆœ) ===")
sql = """
    SELECT *
    FROM EMP
    ORDER BY DEPT_ID ASC, SALARY DESC 
"""
result = pd.read_sql(sql, conn) 
print(result)

=== ì—°ë´‰ ë­í‚¹ (ë‚´ë¦¼ì°¨ìˆœ) ===
   EMP_ID NAME  DEPT_ID  SALARY
0     103   ì§€ìˆ˜      NaN    2500
1     101   ì˜í¬     10.0    3500
2     100   ì² ìˆ˜     10.0    3000
3     102   ë¯¼ìˆ˜     20.0    4000
4     104   ë™í˜„     30.0    4500

In [2]:
import pandas as pd
import sqlite3

# 1. DB ì—°ê²° (ë©”ëª¨ë¦¬ ìƒì— ìƒì„±)
conn = sqlite3.connect(':memory:')

# ---------------------------------------------------------
# 2. ë°ì´í„° ìƒì„± (ê³ ê°, ìƒí’ˆ, ì£¼ë¬¸)
# ---------------------------------------------------------

# (1) ê³ ê° í…Œì´ë¸”: íšŒì› ì •ë³´
# - 'ë“±ê¸‰'ì— NULL(ë¹ˆ ê°’)ì„ ì¼ë¶€ëŸ¬ ë„£ì—ˆìŠµë‹ˆë‹¤. (SQLD ë‹¨ê³¨ ë¬¸ì œ)
customer_data = {
    'ê³ ê°ID': [101, 102, 103, 104, 105],
    'ì´ë¦„': ['ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ë°•ë¯¼ìˆ˜', 'ìµœì§€ìˆ˜', 'ì •ìš°ì„±'],
    'ë“±ê¸‰': ['VIP', 'GOLD', 'SILVER', None, 'VIP'], # ìµœì§€ìˆ˜ëŠ” ë“±ê¸‰ ì—†ìŒ
    'ì ë¦½ê¸ˆ': [5000, 3000, 1000, 0, 10000]
}

# (2) ìƒí’ˆ í…Œì´ë¸”: íŒë§¤ ë¬¼í’ˆ ì •ë³´
product_data = {
    'ìƒí’ˆID': ['P001', 'P002', 'P003', 'P004'],
    'ìƒí’ˆëª…': ['ë…¸íŠ¸ë¶', 'ë¬´ì„ ë§ˆìš°ìŠ¤', 'ê¸°ê³„ì‹í‚¤ë³´ë“œ', 'ëª¨ë‹ˆí„°'],
    'ë‹¨ê°€': [1500000, 30000, 120000, 350000],
    'ì¹´í…Œê³ ë¦¬': ['ì „ì', 'PCì£¼ë³€ê¸°ê¸°', 'PCì£¼ë³€ê¸°ê¸°', 'ì „ì']
}

# (3) ì£¼ë¬¸ í…Œì´ë¸”: ëˆ„ê°€ ë¬´ì—‡ì„ ì–¸ì œ ìƒ€ë‚˜
# - ê³ ê°ID 105(ì •ìš°ì„±)ëŠ” ì£¼ë¬¸ ë‚´ì—­ì´ ì—†ìŠµë‹ˆë‹¤. (LEFT JOIN ì—°ìŠµìš©)
order_data = {
    'ì£¼ë¬¸ë²ˆí˜¸': [1, 2, 3, 4, 5, 6],
    'ê³ ê°ID': [101, 101, 102, 103, 101, 104],
    'ìƒí’ˆID': ['P001', 'P002', 'P001', 'P003', 'P004', 'P002'],
    'ì£¼ë¬¸ì¼ì': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05', '2024-01-06'],
    'ìˆ˜ëŸ‰': [1, 2, 1, 5, 1, 1]
}

# 3. ë°ì´í„°í”„ë ˆì„ ë³€í™˜ ë° DB ì €ì¥
df_cust = pd.DataFrame(customer_data)
df_prod = pd.DataFrame(product_data)
df_order = pd.DataFrame(order_data)

df_cust.to_sql('ê³ ê°', conn, index=False)
df_prod.to_sql('ìƒí’ˆ', conn, index=False)
df_order.to_sql('ì£¼ë¬¸', conn, index=False)

print("âœ… ì‡¼í•‘ëª° ë°ì´í„°ì…‹ ìƒì„± ì™„ë£Œ! (í…Œì´ë¸”: ê³ ê°, ìƒí’ˆ, ì£¼ë¬¸)")

âœ… ì‡¼í•‘ëª° ë°ì´í„°ì…‹ ìƒì„± ì™„ë£Œ! (í…Œì´ë¸”: ê³ ê°, ìƒí’ˆ, ì£¼ë¬¸)

In [9]:
print("\n=== Q1. ë“±ê¸‰ì´ ì—†ëŠ” ê³ ê° ===")
sql = """
    SELECT ì´ë¦„, ë“±ê¸‰
    FROM ê³ ê°
    WHERE ë“±ê¸‰ IS NULL
"""
result = pd.read_sql(sql, conn) 
print(result)

=== Q1. ë“±ê¸‰ì´ ì—†ëŠ” ê³ ê° ===
    ì´ë¦„    ë“±ê¸‰
0  ìµœì§€ìˆ˜  None

In [10]:
print("\n=== Q2. ìƒí’ˆë³„ íŒë§¤ ìˆ˜ëŸ‰ í•©ê³„ ===")
sql = """
    SELECT ìƒí’ˆID, SUM(ìˆ˜ëŸ‰) AS ì´íŒë§¤ëŸ‰
    FROM ì£¼ë¬¸
    GROUP BY ìƒí’ˆID
"""
result = pd.read_sql(sql, conn) 
print(result)

=== Q2. ìƒí’ˆë³„ íŒë§¤ ìˆ˜ëŸ‰ í•©ê³„ ===
   ìƒí’ˆID  ì´íŒë§¤ëŸ‰
0  P001     2
1  P002     3
2  P003     5
3  P004     1

In [ ]:
print("\n=== í’ˆë³„ ì´ íŒë§¤ëŸ‰ (GROUP BY) ===")
sql = """
    SELECT ìƒí’ˆID, SUM(ìˆ˜ëŸ‰) AS ì´íŒë§¤ëŸ‰
    FROM ì£¼ë¬¸
    GROUP BY ìƒí’ˆID
    HAVING SUM(ìˆ˜ëŸ‰) >= 2
"""
result = pd.read_sql(sql, conn) 
print(result)

=== í’ˆë³„ ì´ íŒë§¤ëŸ‰ (GROUP BY) ===
   ìƒí’ˆID  ì´íŒë§¤ëŸ‰
0  P001     2
1  P002     3
2  P003     5

In [13]:
print("\n=== ì£¼ë¬¸ ë‚´ì—­ê³¼ ì£¼ë¬¸ì ì´ë¦„ (INNER JOIN) ===")
sql = """
    SELECT 
        B.ì£¼ë¬¸ë²ˆí˜¸,
        A.ì´ë¦„,
        B.ìƒí’ˆID,
        B.ìˆ˜ëŸ‰
    FROM ê³ ê° A
    INNER JOIN ì£¼ë¬¸ B ON A.ê³ ê°ID = B.ê³ ê°ID
"""
result = pd.read_sql(sql, conn) 
print(result)

=== ì£¼ë¬¸ ë‚´ì—­ê³¼ ì£¼ë¬¸ì ì´ë¦„ (INNER JOIN) ===
   ì£¼ë¬¸ë²ˆí˜¸   ì´ë¦„  ìƒí’ˆID  ìˆ˜ëŸ‰
0     1  ê¹€ì² ìˆ˜  P001   1
1     2  ê¹€ì² ìˆ˜  P002   2
2     5  ê¹€ì² ìˆ˜  P004   1
3     3  ì´ì˜í¬  P001   1
4     4  ë°•ë¯¼ìˆ˜  P003   5
5     6  ìµœì§€ìˆ˜  P002   1

In [14]:
print("\n=== ê³ ê°ë³„ ì´ êµ¬ë§¤ ê¸ˆì•¡ (JOIN + GROUP BY) ===")
sql = """
    SELECT
        A.ì´ë¦„,
        SUM(B.ìˆ˜ëŸ‰ * C.ë‹¨ê°€) AS ì´êµ¬ë§¤ê¸ˆì•¡
    FROM ê³ ê° A
    INNER JOIN ì£¼ë¬¸ B ON A.ê³ ê°ID = B.ê³ ê°ID
    INNER JOIN ìƒí’ˆ C ON B.ìƒí’ˆID = C.ìƒí’ˆID
    GROUP BY A.ì´ë¦„
"""
result = pd.read_sql(sql, conn) 
print(result)

=== ê³ ê°ë³„ ì´ êµ¬ë§¤ ê¸ˆì•¡ (JOIN + GROUP BY) ===
    ì´ë¦„    ì´êµ¬ë§¤ê¸ˆì•¡
0  ê¹€ì² ìˆ˜  1910000
1  ë°•ë¯¼ìˆ˜   600000
2  ì´ì˜í¬  1500000
3  ìµœì§€ìˆ˜    30000

In [ ]:
print("\n=== ë¬¸ì œ 1 ì •ë‹µ í™•ì¸ ===")
sql = """
    SELECT
        A.ì£¼ë¬¸ì¼ì,
        A.ê³ ê°ID,
        B.ìƒí’ˆëª…,
        A.ìˆ˜ëŸ‰
    FROM ì£¼ë¬¸ A
    INNER JOIN ìƒí’ˆ B ON A.ìƒí’ˆID = B.ìƒí’ˆID
"""
result = pd.read_sql(sql, conn) 
print(result)

         ì£¼ë¬¸ì¼ì  ê³ ê°ID     ìƒí’ˆëª…  ìˆ˜ëŸ‰
0  2024-01-01   101     ë…¸íŠ¸ë¶   1
1  2024-01-02   101   ë¬´ì„ ë§ˆìš°ìŠ¤   2
2  2024-01-03   102     ë…¸íŠ¸ë¶   1
3  2024-01-04   103  ê¸°ê³„ì‹í‚¤ë³´ë“œ   5
4  2024-01-05   101     ëª¨ë‹ˆí„°   1
5  2024-01-06   104   ë¬´ì„ ë§ˆìš°ìŠ¤   1

In [ ]:
print("\n=== ë¬¸ì œ 2 ì •ë‹µ í™•ì¸ ===")
sql = """
    SELECT
        A.ì´ë¦„,
        COUNT(B.ì£¼ë¬¸ë²ˆí˜¸) AS ì´ì£¼ë¬¸íšŸìˆ˜
    FROM ê³ ê° A
    INNER JOIN ì£¼ë¬¸ B ON A.ê³ ê°ID = B.ê³ ê°ID
    GROUP BY A.ì´ë¦„
    ORDER BY ì´ì£¼ë¬¸íšŸìˆ˜ DESC
"""
result = pd.read_sql(sql, conn) 
print(result)

=== ë¬¸ì œ 1 ì •ë‹µ í™•ì¸ ===
    ì´ë¦„  ì´ì£¼ë¬¸íšŸìˆ˜
0  ê¹€ì² ìˆ˜      3
1  ìµœì§€ìˆ˜      1
2  ì´ì˜í¬      1
3  ë°•ë¯¼ìˆ˜      1

In [20]:
print("\n=== ë¬¸ì œ 3 ì •ë‹µ í™•ì¸ ===")
sql = """
    SELECT
        B.ìƒí’ˆëª…,
        SUM(A.ìˆ˜ëŸ‰ * B.ë‹¨ê°€) AS ì´ë§¤ì¶œì•¡
    FROM ì£¼ë¬¸ A
    INNER JOIN ìƒí’ˆ B ON A.ìƒí’ˆID = B.ìƒí’ˆID
    GROUP BY B.ìƒí’ˆëª…
"""
result = pd.read_sql(sql, conn) 
print(result)

=== ë¬¸ì œ 3 ì •ë‹µ í™•ì¸ ===
      ìƒí’ˆëª…     ì´ë§¤ì¶œì•¡
0  ê¸°ê³„ì‹í‚¤ë³´ë“œ   600000
1     ë…¸íŠ¸ë¶  3000000
2     ëª¨ë‹ˆí„°   350000
3   ë¬´ì„ ë§ˆìš°ìŠ¤    90000

In [21]:
print("\n=== TEST ===")
sql = """
    SELECT *
    FROM ì£¼ë¬¸ A
    INNER JOIN ìƒí’ˆ B ON A.ìƒí’ˆID = B.ìƒí’ˆID
"""
result = pd.read_sql(sql, conn) 
print(result)

=== TEST ===
   ì£¼ë¬¸ë²ˆí˜¸  ê³ ê°ID  ìƒí’ˆID        ì£¼ë¬¸ì¼ì  ìˆ˜ëŸ‰  ìƒí’ˆID     ìƒí’ˆëª…       ë‹¨ê°€    ì¹´í…Œê³ ë¦¬
0     1   101  P001  2024-01-01   1  P001     ë…¸íŠ¸ë¶  1500000      ì „ì
1     2   101  P002  2024-01-02   2  P002   ë¬´ì„ ë§ˆìš°ìŠ¤    30000  PCì£¼ë³€ê¸°ê¸°
2     3   102  P001  2024-01-03   1  P001     ë…¸íŠ¸ë¶  1500000      ì „ì
3     4   103  P003  2024-01-04   5  P003  ê¸°ê³„ì‹í‚¤ë³´ë“œ   120000  PCì£¼ë³€ê¸°ê¸°
4     5   101  P004  2024-01-05   1  P004     ëª¨ë‹ˆí„°   350000      ì „ì
5     6   104  P002  2024-01-06   1  P002   ë¬´ì„ ë§ˆìš°ìŠ¤    30000  PCì£¼ë³€ê¸°ê¸°

âœï¸ ì‹œí—˜ í•´ì„ í¬ì¸íŠ¸ (ê°€ì¥ ì¤‘ìš”)
ì‹œí—˜ ë¬¸ì œì—ì„œ **í…Œì´ë¸” A(í–‰ 10ê°œ)**ì™€ **í…Œì´ë¸” B(í–‰ 5ê°œ)**ë¥¼ LEFT JOIN í–ˆì„ ë•Œ ê²°ê³¼ í–‰ ìˆ˜ëŠ” ëª‡ ê°œì¼ê¹Œìš”?

ì •ë‹µ: ìµœì†Œ 10ê°œì…ë‹ˆë‹¤. (Aê°€ ê¸°ì¤€ì´ë‹ˆê¹Œ Aì˜ ê°œìˆ˜ë§Œí¼ì€ ë¬´ì¡°ê±´ ë³´ì¥ë¨)

ë§Œì•½ Aì˜ í•œ í–‰ì´ Bì˜ ì—¬ëŸ¬ í–‰ê³¼ ë§¤ì¹­ë˜ë©´ 10ê°œë³´ë‹¤ ëŠ˜ì–´ë‚  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [22]:
print("=== ì „ì²´ ê³ ê° ì£¼ë¬¸ í˜„í™© (LEFT JOIN) ===")
# ê³ ê°(A)ì„ ê¸°ì¤€ìœ¼ë¡œ ì£¼ë¬¸(B)ì„ ë¶™ì…ë‹ˆë‹¤.
sql_left = """
    SELECT 
        A.ì´ë¦„, 
        A.ë“±ê¸‰, 
        B.ì£¼ë¬¸ë²ˆí˜¸, 
        B.ìƒí’ˆID
    FROM ê³ ê° A
    LEFT OUTER JOIN ì£¼ë¬¸ B ON A.ê³ ê°ID = B.ê³ ê°ID
"""
print(pd.read_sql(sql_left, conn))

=== ì „ì²´ ê³ ê° ì£¼ë¬¸ í˜„í™© (LEFT JOIN) ===
    ì´ë¦„      ë“±ê¸‰  ì£¼ë¬¸ë²ˆí˜¸  ìƒí’ˆID
0  ê¹€ì² ìˆ˜     VIP   1.0  P001
1  ê¹€ì² ìˆ˜     VIP   2.0  P002
2  ê¹€ì² ìˆ˜     VIP   5.0  P004
3  ì´ì˜í¬    GOLD   3.0  P001
4  ë°•ë¯¼ìˆ˜  SILVER   4.0  P003
5  ìµœì§€ìˆ˜     NaN   6.0  P002
6  ì •ìš°ì„±     VIP   NaN   NaN

1ï¸âƒ£ HAVING ì ˆ: "ê·¸ë£¹ì„ í•„í„°ë§í•´ë¼!"
í•µì‹¬ ê°œë…:
WHERE ì ˆì´ **ê°œë³„ í–‰(Row)**ì„ ê±°ë¥´ëŠ” ì±„ë¼ë©´,
HAVING ì ˆì€ ê·¸ë£¹(Group)ì˜ ê²°ê³¼ë¥¼ ê±°ë¥´ëŠ” ì±„ì…ë‹ˆë‹¤.

âœï¸ ì‹œí—˜ì— ë‚˜ì˜¤ëŠ” [ì ˆëŒ€ ê·œì¹™] (ë¬´ì¡°ê±´ ì•”ê¸°)
ì‹œí—˜ ë¬¸ì œì—ì„œ ë‹¤ìŒ ë‘ ê°€ì§€ë¥¼ êµ¬ë¶„í•˜ëŠ” ë¬¸ì œê°€ ë‚˜ì˜µë‹ˆë‹¤.

WHERE: ê·¸ë£¹ì„ ë¬¶ê¸° ì „ì— ê±°ë¥¸ë‹¤. (ì§‘ê³„ í•¨ìˆ˜ ì‚¬ìš© ë¶ˆê°€)

O: WHERE ì—°ë´‰ > 5000

X: WHERE SUM(ì—°ë´‰) > 10000 (ì—ëŸ¬!)

HAVING: ê·¸ë£¹ì„ ë¬¶ê³  ì§‘ê³„í•œ í›„ì— ê±°ë¥¸ë‹¤. (ì§‘ê³„ í•¨ìˆ˜ ì‚¬ìš© ê°€ëŠ¥)

O: HAVING SUM(ì—°ë´‰) > 10000

X: HAVING ì´ë¦„ = 'ê¹€ì² ìˆ˜' (ë¹„íš¨ìœ¨ì , WHEREì—ì„œ í•˜ëŠ” ê²Œ ë§ìŒ)

In [5]:
print("\n=== [HAVING ì‹¤ìŠµ] ë§ì´ íŒ”ë¦° ìƒí’ˆ ì°¾ê¸° ===")
sql = """
    SELECT ìƒí’ˆID, SUM(ìˆ˜ëŸ‰) AS ì´íŒë§¤ëŸ‰
    FROM ì£¼ë¬¸
    GROUP BY ìƒí’ˆID
    HAVING SUM(ìˆ˜ëŸ‰) >= 2
"""
result = pd.read_sql(sql, conn) 
print(result)

=== [HAVING ì‹¤ìŠµ] ë§ì´ íŒ”ë¦° ìƒí’ˆ ì°¾ê¸° ===
   ìƒí’ˆID  ì´íŒë§¤ëŸ‰
0  P001     2
1  P002     3
2  P003     5

In [6]:
print("\n=== [ì„œë¸Œì¿¼ë¦¬] í‰ê· ê°€ë³´ë‹¤ ë¹„ì‹¼ ìƒí’ˆ ===")
sql = """
    SELECT ìƒí’ˆëª…, ë‹¨ê°€
    FROM ìƒí’ˆ
    WHERE ë‹¨ê°€ > (SELECT AVG(ë‹¨ê°€) FROM ìƒí’ˆ)
"""
result = pd.read_sql(sql, conn) 
print(result)

=== [ì„œë¸Œì¿¼ë¦¬] í‰ê· ê°€ë³´ë‹¤ ë¹„ì‹¼ ìƒí’ˆ ===
   ìƒí’ˆëª…       ë‹¨ê°€
0  ë…¸íŠ¸ë¶  1500000

In [7]:
print("\n=== [ì¸ë¼ì¸ ë·°] VIP í°ì† ì°¾ê¸° ===")
sql = """
    SELECT T.ê³ ê°ID, T.ì´êµ¬ë§¤ì•¡
    FROM (
        SELECT ê³ ê°ID, SUM(ìˆ˜ëŸ‰ * 30000) AS ì´êµ¬ë§¤ì•¡
        FROM ì£¼ë¬¸
        GROUP BY ê³ ê°ID
    ) T
    WHERE T.ì´êµ¬ë§¤ì•¡ >= 50000
"""
result = pd.read_sql(sql, conn) 
print(result)

=== [ì¸ë¼ì¸ ë·°] VIP í°ì† ì°¾ê¸° ===
   ê³ ê°ID    ì´êµ¬ë§¤ì•¡
0   101  120000
1   103  150000

ğŸ”¥ [SQLD í‚¬ëŸ¬ ë¬¸ì œ] ë‹¤ì¤‘í–‰ ì„œë¸Œì¿¼ë¦¬ (IN, ANY, ALL)
ì„œë¸Œì¿¼ë¦¬ì˜ ê²°ê³¼ê°€ **ì—¬ëŸ¬ ì¤„(Row)**ì¼ ë•Œ, = ì—°ì‚°ìëŠ” ì‚¬ìš©í•  ìˆ˜ ì—†ìŠµë‹ˆë‹¤.
ì´ë•Œ ì‚¬ìš©í•˜ëŠ” ì—°ì‚°ìë¥¼ ë¬»ëŠ” ë¬¸ì œê°€ ê¼­ ë‚˜ì˜µë‹ˆë‹¤.

IN: ê²°ê³¼ ì¤‘ í•˜ë‚˜ë¼ë„ ê°™ìœ¼ë©´ OK (OR ì¡°ê±´)

ALL: ê²°ê³¼ ëª¨ë‘ì™€ ë¹„êµí•´ì„œ ë§Œì¡±í•´ì•¼ í•¨ (AND ì¡°ê±´)

ANY / SOME: ê²°ê³¼ ì¤‘ í•˜ë‚˜ë¼ë„ ë§Œì¡±í•˜ë©´ OK

In [8]:
print("\n=== [ë‹¤ì¤‘í–‰ ì„œë¸Œì¿¼ë¦¬] ì „ìì œí’ˆ êµ¬ë§¤ì ===")
sql = """
    SELECT ì´ë¦„
    FROM ê³ ê°
    WHERE ê³ ê°ID IN (
        SELECT DISTINCT ê³ ê°ID
        FROM ì£¼ë¬¸
        WHERE ìƒí’ˆID IN ('P001', 'P004')
    )
"""
result = pd.read_sql(sql, conn) 
print(result)

=== [ë‹¤ì¤‘í–‰ ì„œë¸Œì¿¼ë¦¬] ì „ìì œí’ˆ êµ¬ë§¤ì ===
    ì´ë¦„
0  ê¹€ì² ìˆ˜
1  ì´ì˜í¬

In [9]:
print("=== ìœˆë„ìš° í•¨ìˆ˜ (ìˆœìœ„ ë§¤ê¸°ê¸°) ì‹¤ìŠµ ===")

# 1. ì„±ì í‘œ í…Œì´ë¸” ìƒì„± (ë™ì ì ìƒí™© ì—°ì¶œ)
# ì² ìˆ˜(100ì ), ì˜í¬(100ì ), ë¯¼ìˆ˜(90ì )
score_data = {
    'ì´ë¦„': ['ì² ìˆ˜', 'ì˜í¬', 'ë¯¼ìˆ˜', 'ì§€ìˆ˜', 'ë™í˜„'],
    'ê³¼ëª©': ['ìˆ˜í•™', 'ìˆ˜í•™', 'ìˆ˜í•™', 'ì˜ì–´', 'ì˜ì–´'],
    'ì ìˆ˜': [100, 100, 90, 95, 80]
}
df_score = pd.DataFrame(score_data)
df_score.to_sql('ì„±ì í‘œ', conn, index=False, if_exists='replace')

# 2. 3ê°€ì§€ ìˆœìœ„ í•¨ìˆ˜ ë¹„êµ ì¿¼ë¦¬
# ë¬¸ë²•: í•¨ìˆ˜ëª…() OVER (ORDER BY ì •ë ¬ê¸°ì¤€)
sql_rank = """
    SELECT 
        ì´ë¦„, 
        ê³¼ëª©, 
        ì ìˆ˜,
        RANK() OVER (ORDER BY ì ìˆ˜ DESC) AS "RANK (ê±´ë„ˆëœ€)",
        DENSE_RANK() OVER (ORDER BY ì ìˆ˜ DESC) AS "DENSE (ì•ˆê±´ë„ˆëœ€)",
        ROW_NUMBER() OVER (ORDER BY ì ìˆ˜ DESC) AS "ROW_NUM (ê³ ìœ ë²ˆí˜¸)"
    FROM ì„±ì í‘œ
    WHERE ê³¼ëª© = 'ìˆ˜í•™'
"""
print(pd.read_sql(sql_rank, conn))

=== ìœˆë„ìš° í•¨ìˆ˜ (ìˆœìœ„ ë§¤ê¸°ê¸°) ì‹¤ìŠµ ===
   ì´ë¦„  ê³¼ëª©   ì ìˆ˜  RANK (ê±´ë„ˆëœ€)  DENSE (ì•ˆê±´ë„ˆëœ€)  ROW_NUM (ê³ ìœ ë²ˆí˜¸)
0  ì² ìˆ˜  ìˆ˜í•™  100           1             1               1
1  ì˜í¬  ìˆ˜í•™  100           1             1               2
2  ë¯¼ìˆ˜  ìˆ˜í•™   90           3             2               3

In [10]:
print("\n=== [PARTITION BY] ê³¼ëª©ë³„ ìˆœìœ„ ===")
sql = """
    SELECT
        ê³¼ëª©,
        ì´ë¦„,
        ì ìˆ˜,
        RANK() OVER (PARTITION BY ê³¼ëª© ORDER BY ì ìˆ˜ DESC) AS ê³¼ëª©ë‚´ë“±ìˆ˜
    FROM ì„±ì í‘œ
"""
result = pd.read_sql(sql, conn) 
print(result)

=== [PARTITION BY] ê³¼ëª©ë³„ ìˆœìœ„ ===
   ê³¼ëª©  ì´ë¦„   ì ìˆ˜  ê³¼ëª©ë‚´ë“±ìˆ˜
0  ìˆ˜í•™  ì² ìˆ˜  100      1
1  ìˆ˜í•™  ì˜í¬  100      1
2  ìˆ˜í•™  ë¯¼ìˆ˜   90      3
3  ì˜ì–´  ì§€ìˆ˜   95      1
4  ì˜ì–´  ë™í˜„   80      2

In [11]:
print("\n=== [ì‹¤ì „] ê° ê³¼ëª© 1ë“±ë§Œ ì¶”ì¶œí•˜ê¸° ===")
sql = """
    SELECT ê³¼ëª©, ì´ë¦„, ì ìˆ˜
    FROM (
        SELECT
            ê³¼ëª©, ì´ë¦„, ì ìˆ˜,
            RANK() OVER (PARTITION BY ê³¼ëª© ORDER BY ì ìˆ˜ DESC) AS ë“±ìˆ˜
            FROM ì„±ì í‘œ
    )
    WHERE ë“±ìˆ˜ = 1

"""
result = pd.read_sql(sql, conn) 
print(result)

=== [ì‹¤ì „] ê° ê³¼ëª© 1ë“±ë§Œ ì¶”ì¶œí•˜ê¸° ===
   ê³¼ëª©  ì´ë¦„   ì ìˆ˜
0  ìˆ˜í•™  ì² ìˆ˜  100
1  ìˆ˜í•™  ì˜í¬  100
2  ì˜ì–´  ì§€ìˆ˜   95

In [2]:
import pandas as pd
import sqlite3

conn = sqlite3.connect(':memory:')

# 1. ì§ì›(EMP) í…Œì´ë¸”: ì»¤ë¯¸ì…˜(ë³´ë„ˆìŠ¤)ì— NULLì´ ì„ì—¬ ìˆìŒ (í•¨ì •!)
emp = {
    'ì‚¬ë²ˆ': [100, 101, 102, 103, 104],
    'ì´ë¦„': ['ì´ìˆœì‹ ', 'ê°•ê°ì°¬', 'í™ê¸¸ë™', 'ìœ ê´€ìˆœ', 'ì•ˆì¤‘ê·¼'],
    'ë¶€ì„œID': [10, 10, 20, None, 30],
    'ê¸‰ì—¬': [3000, 2000, 4000, 3500, 5000],
    'ì»¤ë¯¸ì…˜': [300, None, 500, None, 0] # 0ê³¼ NULLì€ ë‹¤ë¦„!
}

# 2. ë¶€ì„œ(DEPT) í…Œì´ë¸”: 30ë²ˆ ë¶€ì„œëŠ” ì¡´ì¬í•˜ì§€ë§Œ, 40ë²ˆ ë¶€ì„œëŠ” ì§ì› ì—†ìŒ
dept = {
    'ë¶€ì„œID': [10, 20, 30, 40],
    'ë¶€ì„œëª…': ['ì¸ì‚¬íŒ€', 'ì˜ì—…íŒ€', 'ê°œë°œíŒ€', 'ê¸°íšíŒ€']
}

df_emp = pd.DataFrame(emp)
df_dept = pd.DataFrame(dept)

df_emp.to_sql('EMP', conn, index=False)
df_dept.to_sql('DEPT', conn, index=False)

print("âœ… ì‹¤ì „ ë°ì´í„° ì„¸íŒ… ì™„ë£Œ!")
print(df_emp)

âœ… ì‹¤ì „ ë°ì´í„° ì„¸íŒ… ì™„ë£Œ!
    ì‚¬ë²ˆ   ì´ë¦„  ë¶€ì„œID    ê¸‰ì—¬    ì»¤ë¯¸ì…˜
0  100  ì´ìˆœì‹   10.0  3000  300.0
1  101  ê°•ê°ì°¬  10.0  2000    NaN
2  102  í™ê¸¸ë™  20.0  4000  500.0
3  103  ìœ ê´€ìˆœ   NaN  3500    NaN
4  104  ì•ˆì¤‘ê·¼  30.0  5000    0.0

In [3]:
print("\n=== [ì œ1ë¬¸] ì»¤ë¯¸ì…˜ í‰ê·  êµ¬í•˜ê¸° ===")
sql_q1 = """
    SELECT AVG(ì»¤ë¯¸ì…˜) AS í‰ê· ì»¤ë¯¸ì…˜
    FROM EMP
"""
print(pd.read_sql(sql_q1, conn))

=== [ì œ1ë¬¸] ì»¤ë¯¸ì…˜ í‰ê·  êµ¬í•˜ê¸° ===
        í‰ê· ì»¤ë¯¸ì…˜
0  266.666667

In [4]:
print("\n=== [ì œ2ë¬¸] ê¸‰ì—¬ ë“±ê¸‰ ë¶„ë¥˜ ===")
sql_q2 = """
    SELECT
        ì´ë¦„,
        ê¸‰ì—¬,
        CASE
            WHEN ê¸‰ì—¬ >= 4000 THEN 'Së“±ê¸‰'
            WHEN ê¸‰ì—¬ >= 3000 THEN 'Aë“±ê¸‰'
            ELSE 'Bë“±ê¸‰'
        END AS ê¸‰ì—¬ë“±ê¸‰
    FROM EMP
"""
print(pd.read_sql(sql_q2, conn))

=== [ì œ2ë¬¸] ê¸‰ì—¬ ë“±ê¸‰ ë¶„ë¥˜ ===
    ì´ë¦„    ê¸‰ì—¬ ê¸‰ì—¬ë“±ê¸‰
0  ì´ìˆœì‹   3000  Aë“±ê¸‰
1  ê°•ê°ì°¬  2000  Bë“±ê¸‰
2  í™ê¸¸ë™  4000  Së“±ê¸‰
3  ìœ ê´€ìˆœ  3500  Aë“±ê¸‰
4  ì•ˆì¤‘ê·¼  5000  Së“±ê¸‰

In [3]:
print("\n=== [ì œ3ë¬¸] ë¶€ì„œë³„ ì§ì› ìˆ˜ (í•¨ì • ì£¼ì˜) ===")
sql_q3 = """
    SELECT
        A.ë¶€ì„œëª…,
        COUNT(B.ì‚¬ë²ˆ) AS ì§ì›ìˆ˜_ì‚¬ë²ˆê¸°ì¤€,
        COUNT(*) AS ì§ì›ìˆ˜_ì „ì²´ê¸°ì¤€
    FROM DEPT A
    LEFT JOIN EMP B ON A.ë¶€ì„œID = B.ë¶€ì„œID
"""
print(pd.read_sql(sql_q3, conn))

=== [ì œ3ë¬¸] ë¶€ì„œë³„ ì§ì› ìˆ˜ (í•¨ì • ì£¼ì˜) ===
   ë¶€ì„œëª…  ì§ì›ìˆ˜_ì‚¬ë²ˆê¸°ì¤€  ì§ì›ìˆ˜_ì „ì²´ê¸°ì¤€
0  ì¸ì‚¬íŒ€         4         5

In [4]:
import pandas as pd
import sqlite3

conn = sqlite3.connect(':memory:')

# EMP í…Œì´ë¸” ì—…ë°ì´íŠ¸ (ê´€ë¦¬ì ID ì¶”ê°€)
# 100(ì´ìˆœì‹ )ì€ ê´€ë¦¬ìê°€ ì—†ìŒ (ì‚¬ì¥ë‹˜)
# 101, 102ì˜ ê´€ë¦¬ìëŠ” 100(ì´ìˆœì‹ )
# 103, 104ì˜ ê´€ë¦¬ìëŠ” 101(ê°•ê°ì°¬)
emp_new = {
    'ì‚¬ë²ˆ': [100, 101, 102, 103, 104],
    'ì´ë¦„': ['ì´ìˆœì‹ ', 'ê°•ê°ì°¬', 'í™ê¸¸ë™', 'ìœ ê´€ìˆœ', 'ì•ˆì¤‘ê·¼'],
    'ê´€ë¦¬ìID': [None, 100, 100, 101, 101], 
    'ê¸‰ì—¬': [5000, 3000, 3500, 2500, 2800],
    'ì»¤ë¯¸ì…˜': [None, 300, None, 100, 0] 
}

df_emp = pd.DataFrame(emp_new)
df_emp.to_sql('EMP', conn, index=False, if_exists='replace')

print("âœ… ë°ì´í„° ì—…ë°ì´íŠ¸ ì™„ë£Œ! (ê´€ë¦¬ì ì •ë³´ ì¶”ê°€ë¨)")
print(df_emp)

âœ… ë°ì´í„° ì—…ë°ì´íŠ¸ ì™„ë£Œ! (ê´€ë¦¬ì ì •ë³´ ì¶”ê°€ë¨)
    ì‚¬ë²ˆ   ì´ë¦„  ê´€ë¦¬ìID    ê¸‰ì—¬    ì»¤ë¯¸ì…˜
0  100  ì´ìˆœì‹     NaN  5000    NaN
1  101  ê°•ê°ì°¬  100.0  3000  300.0
2  102  í™ê¸¸ë™  100.0  3500    NaN
3  103  ìœ ê´€ìˆœ  101.0  2500  100.0
4  104  ì•ˆì¤‘ê·¼  101.0  2800    0.0

In [6]:
print("\n=== [ì œ5ë¬¸] UNION(ì¤‘ë³µì œê±°) vs UNION ALL(ì „ì²´) ===")

print("--- 1. UNION ê²°ê³¼ ---")
print(pd.read_sql("""
    SELECT ì‚¬ë²ˆ FROM EMP WHERE ê¸‰ì—¬ >= 3000
    UNION
    SELECT ì‚¬ë²ˆ FROM EMP WHERE ê´€ë¦¬ìID = 100
""", conn))

print("\n--- 2. UNION ALL ê²°ê³¼ ---")
print(pd.read_sql("""
    SELECT ì‚¬ë²ˆ FROM EMP WHERE ê¸‰ì—¬ >= 3000
    UNION ALL
    SELECT ì‚¬ë²ˆ FROM EMP WHERE ê´€ë¦¬ìID = 100
""", conn))

=== [ì œ5ë¬¸] UNION(ì¤‘ë³µì œê±°) vs UNION ALL(ì „ì²´) ===
--- 1. UNION ê²°ê³¼ ---
    ì‚¬ë²ˆ
0  100
1  101
2  102

--- 2. UNION ALL ê²°ê³¼ ---
    ì‚¬ë²ˆ
0  100
1  101
2  102
3  101
4  102

In [8]:
import pandas as pd
import sqlite3

conn = sqlite3.connect(':memory:')

# 1. TAB1 (ì™¼ìª½ í…Œì´ë¸”): ê¸°ì¤€ì´ ë˜ëŠ” í…Œì´ë¸”
# - íŠ¹ì§•: (1, A)ëŠ” TAB2ì— 2ê°œ ìˆìŒ (1:N)
# - íŠ¹ì§•: (2, B)ëŠ” TAB2ì— ì—†ìŒ (ë§¤ì¹­ ì‹¤íŒ¨)
# - íŠ¹ì§•: (NULL, C)ëŠ” COL1ì´ NULLì„
data1 = {
    'COL1': [1, 2, None], 
    'COL2': ['A', 'B', 'C']
}

# 2. TAB2 (ì˜¤ë¥¸ìª½ í…Œì´ë¸”)
# - íŠ¹ì§•: (1, A)ê°€ 2ê°œ ìˆìŒ (ì¤‘ë³µ ë°ì´í„°)
data2 = {
    'COL1': [1, 1], 
    'COL2': ['A', 'A']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df1.to_sql('TAB1', conn, index=False)
df2.to_sql('TAB2', conn, index=False)

# -------------------------------------------------------
# 3. ì¤‘ê°„ ê³¼ì • í™•ì¸ (JOIN ê²°ê³¼ê°€ ì–´ë–»ê²Œ ìƒê²¼ë‚˜?)
# -------------------------------------------------------
print("=== 1ë‹¨ê³„: LEFT JOIN ê²°ê³¼ (ëˆˆìœ¼ë¡œ í™•ì¸) ===")
print(pd.read_sql("""
    SELECT 
        TAB1.COL1 AS T1_COL1, 
        TAB1.COL2 AS T1_COL2,
        TAB2.COL1 AS T2_COL1, 
        TAB2.COL2 AS T2_COL2
    FROM TAB1 
    LEFT OUTER JOIN TAB2 
    ON TAB1.COL2 = TAB2.COL2 
    AND TAB1.COL1 = TAB2.COL1
""", conn))

# -------------------------------------------------------
# 4. ìµœì¢… ë¬¸ì œ í’€ì´ (COUNT)
# -------------------------------------------------------
print("\n=== 2ë‹¨ê³„: ìµœì¢… COUNT ê²°ê³¼ ===")
print(pd.read_sql("""
    SELECT COUNT(TAB1.COL1) AS CNT
    FROM TAB1 
    LEFT OUTER JOIN TAB2 
    ON TAB1.COL2 = TAB2.COL2 
    AND TAB1.COL1 = TAB2.COL1
""", conn))

=== 1ë‹¨ê³„: LEFT JOIN ê²°ê³¼ (ëˆˆìœ¼ë¡œ í™•ì¸) ===
   T1_COL1 T1_COL2  T2_COL1 T2_COL2
0      1.0       A      1.0       A
1      1.0       A      1.0       A
2      2.0       B      NaN     NaN
3      NaN       C      NaN     NaN

=== 2ë‹¨ê³„: ìµœì¢… COUNT ê²°ê³¼ ===
   CNT
0    3