### ğŸ« 2. ì‹¤ìŠµ ì‹œë‚˜ë¦¬ì˜¤: "ëˆ„ê°€ ì–´ë–¤ ê°•ì˜ë¥¼ ìƒ€ì„ê¹Œ?"

**ìƒí™© ì„¤ì •:**

  * ë‹¹ì‹ ì€ \*\*'íŒŒì´ì¬ ì¸ê°• ì‚¬ì´íŠ¸'\*\*ì˜ ë°ì´í„° ë¶„ì„ê°€ì…ë‹ˆë‹¤.
  * ë°ì´í„°ê°€ DB íš¨ìœ¨ì„±ì„ ìœ„í•´ \*\*3ê°œì˜ í…Œì´ë¸”(ë°ì´í„°í”„ë ˆì„)\*\*ë¡œ ìª¼ê°œì ¸ ì €ì¥ë˜ì–´ ìˆìŠµë‹ˆë‹¤.
    1.  **í•™ìƒ ë°ì´í„° (`Students`)**: í•™ìƒ ê°œì¸ ì •ë³´
    2.  **ê°•ì˜ ë°ì´í„° (`Courses`)**: ê°•ì˜ ìƒí’ˆ ì •ë³´
    3.  **ìˆ˜ê°• ì‹ ì²­ ë‚´ì—­ (`Orders`)**: ëˆ„ê°€, ì–¸ì œ, ë¬´ì—‡ì„ ìƒ€ëŠ”ì§€ ê¸°ë¡ (ì—¬ê¸°ì— Keyê°€ ë‹¤ ëª¨ì—¬ìˆìŒ\!)

**ëª©í‘œ:** í©ì–´ì§„ ë°ì´í„°ë¥¼ **Key**ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•©ì³ì„œ \*\*"ê°€ì¥ ë§¤ì¶œì´ ë†’ì€ ê°•ì˜ ì¹´í…Œê³ ë¦¬"\*\*ë¥¼ ë¶„ì„í•˜ì„¸ìš”.

In [2]:
import pandas as pd

# 1. í•™ìƒ ë°ì´í„° (Students) - ê³ ìœ í‚¤: Student_ID
students = pd.DataFrame({
    'Student_ID': [101, 102, 103, 104, 105],  # PK (ê³ ìœ í‚¤): í•™ìƒì„ ì‹ë³„
    'Name': ['ì² ìˆ˜', 'ì˜í¬', 'ë¯¼ìˆ˜', 'ì§€ë¯¼', 'ì„±í˜¸'],
    'Region': ['Seoul', 'Busan', 'Seoul', 'Jeju', 'Incheon']
})

# 2. ê°•ì˜ ë°ì´í„° (Courses) - ê³ ìœ í‚¤: Course_ID
courses = pd.DataFrame({
    'Course_ID': ['C001', 'C002', 'C003'],   # PK (ê³ ìœ í‚¤): ê°•ì˜ë¥¼ ì‹ë³„
    'Title': ['íŒŒì´ì¬ ê¸°ì´ˆ', 'ë¨¸ì‹ ëŸ¬ë‹ ì‹¤ì „', 'ë”¥ëŸ¬ë‹ ì‹¬í™”'],
    'Category': ['Programming', 'AI', 'AI'],
    'Price': [50000, 120000, 150000]
})

# 3. ìˆ˜ê°• ì‹ ì²­ ë‚´ì—­ (Orders) - ì™¸ë˜í‚¤: Student_ID, Course_ID
# ì—¬ê¸°ì—ëŠ” êµ¬ì²´ì ì¸ ì´ë¦„ì´ë‚˜ ê°•ì˜ëª…ì´ ì—†ê³  'ID(ìˆ«ì/ì½”ë“œ)'ë§Œ ìˆìŠµë‹ˆë‹¤. (DB íš¨ìœ¨í™”)
orders = pd.DataFrame({
    'Order_ID': [1, 2, 3, 4, 5, 6], # ì£¼ë¬¸ ë²ˆí˜¸
    'Student_ID': [101, 103, 101, 104, 102, 101], # FK (ì™¸ë˜í‚¤): Students í…Œì´ë¸” ì°¸ì¡°
    'Course_ID': ['C001', 'C002', 'C003', 'C001', 'C002', 'C002'], # FK (ì™¸ë˜í‚¤): Courses í…Œì´ë¸” ì°¸ì¡°
    'Order_Date': ['2024-03-01', '2024-03-02', '2024-03-03', '2024-03-04', '2024-03-05', '2024-03-06']
})

print("=== 1. í•™ìƒ ë°ì´í„° (Students) ===")
print(students.head())
print("\n=== 2. ê°•ì˜ ë°ì´í„° (Courses) ===")
print(courses.head())
print("\n=== 3. ì£¼ë¬¸ ë‚´ì—­ (Orders) - ì—¬ê¸°ê°€ í•µì‹¬! ===")
print(orders.head())

=== 1. í•™ìƒ ë°ì´í„° (Students) ===
   Student_ID Name   Region
0         101   ì² ìˆ˜    Seoul
1         102   ì˜í¬    Busan
2         103   ë¯¼ìˆ˜    Seoul
3         104   ì§€ë¯¼     Jeju
4         105   ì„±í˜¸  Incheon

=== 2. ê°•ì˜ ë°ì´í„° (Courses) ===
  Course_ID    Title     Category   Price
0      C001   íŒŒì´ì¬ ê¸°ì´ˆ  Programming   50000
1      C002  ë¨¸ì‹ ëŸ¬ë‹ ì‹¤ì „           AI  120000
2      C003   ë”¥ëŸ¬ë‹ ì‹¬í™”           AI  150000

=== 3. ì£¼ë¬¸ ë‚´ì—­ (Orders) - ì—¬ê¸°ê°€ í•µì‹¬! ===
   Order_ID  Student_ID Course_ID  Order_Date
0         1         101      C001  2024-03-01
1         2         103      C002  2024-03-02
2         3         101      C003  2024-03-03
3         4         104      C001  2024-03-04
4         5         102      C002  2024-03-05

In [4]:
merged_df = pd.merge(orders, students, on='Student_ID', how='left')
#print(merged_df)

full_data = pd.merge(merged_df, courses, on='Course_ID', how='left')

print("=== ğŸ”— ëª¨ë“  ì •ë³´ê°€ í•©ì³ì§„ í’€ ë°ì´í„° ===")
print(full_data[['Order_ID', 'Name', 'Title', 'Price', 'Order_Date']])

=== ğŸ”— ëª¨ë“  ì •ë³´ê°€ í•©ì³ì§„ í’€ ë°ì´í„° ===
   Order_ID Name    Title   Price  Order_Date
0         1   ì² ìˆ˜   íŒŒì´ì¬ ê¸°ì´ˆ   50000  2024-03-01
1         2   ë¯¼ìˆ˜  ë¨¸ì‹ ëŸ¬ë‹ ì‹¤ì „  120000  2024-03-02
2         3   ì² ìˆ˜   ë”¥ëŸ¬ë‹ ì‹¬í™”  150000  2024-03-03
3         4   ì§€ë¯¼   íŒŒì´ì¬ ê¸°ì´ˆ   50000  2024-03-04
4         5   ì˜í¬  ë¨¸ì‹ ëŸ¬ë‹ ì‹¤ì „  120000  2024-03-05
5         6   ì² ìˆ˜  ë¨¸ì‹ ëŸ¬ë‹ ì‹¤ì „  120000  2024-03-06

In [6]:
vip_user = full_data.groupby('Name')['Price'].sum().sort_values(ascending=False)
print("\nğŸ† [VIP í•™ìƒ ë­í‚¹]")
print(vip_user)

category_revenue = full_data.groupby('Category')['Price'].sum()
print("\nğŸ’° [ì¹´í…Œê³ ë¦¬ë³„ ë§¤ì¶œ]")
print(category_revenue)

ğŸ† [VIP í•™ìƒ ë­í‚¹]
Name
ì² ìˆ˜    320000
ë¯¼ìˆ˜    120000
ì˜í¬    120000
ì§€ë¯¼     50000
Name: Price, dtype: int64

ğŸ’° [ì¹´í…Œê³ ë¦¬ë³„ ë§¤ì¶œ]
Category
AI             510000
Programming    100000
Name: Price, dtype: int64

### ğŸ’¡ í•µì‹¬ ìš”ì•½

1.  **ê³ ìœ í‚¤(PK, Primary Key):** `Student_ID`, `Course_ID` ì²˜ëŸ¼ **ì¤‘ë³µë˜ì§€ ì•Šê³ ** ëŒ€ìƒì„ ìœ ì¼í•˜ê²Œ ì‹ë³„í•˜ëŠ” ì£¼ë¯¼ë“±ë¡ë²ˆí˜¸ ê°™ì€ ì¡´ì¬ì…ë‹ˆë‹¤.
2.  **ì™¸ë˜í‚¤(FK, Foreign Key):** `Orders` í…Œì´ë¸”ì— ìˆëŠ” `Student_ID`ì²˜ëŸ¼, **ë‹¤ë¥¸ í…Œì´ë¸”ì˜ PKë¥¼ ê°€ë¦¬í‚¤ëŠ”(ì°¸ì¡°í•˜ëŠ”)** ì—°ê²°ê³ ë¦¬ì…ë‹ˆë‹¤.
3.  **ì™œ ì´ë ‡ê²Œ ë‚˜ëˆ„ë‚˜ìš”?**
      * `Orders` í…Œì´ë¸”ì— í•™ìƒ ì´ë¦„, ì£¼ì†Œ, ê°•ì˜ëª…, ê°€ê²©ì„ ë§¤ë²ˆ ë‹¤ ì ìœ¼ë©´ ìš©ëŸ‰ì´ í­ë°œí•˜ê³  ì˜¤íƒ€ê°€ ë‚˜ì„œ ê´€ë¦¬ê°€ ì•ˆ ë©ë‹ˆë‹¤.
      * ê·¸ë˜ì„œ ID(ì½”ë“œ)ë§Œ ì ì–´ë‘ê³ , í•„ìš”í•  ë•Œë§Œ `Merge(Join)`í•´ì„œ ì“°ëŠ” ê²ƒì´ \*\*ê´€ê³„í˜• ë°ì´í„°ë² ì´ìŠ¤(RDB)\*\*ì˜ ê¸°ë³¸ ì›ë¦¬ì…ë‹ˆë‹¤.

ì´ ê³¼ì •ì„ ì§ì ‘ ìˆ˜í–‰í•´ë³´ì‹œë©´, **"ì•„, ë°ì´í„°ê°€ ì´ë ‡ê²Œ ì—°ê²°ë˜ëŠ”êµ¬ë‚˜\!"** í•˜ê³  SQLì˜ Join ê°œë…ê¹Œì§€ í•œ ë²ˆì— ì¡ìœ¼ì‹¤ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

íŒŒì¼ ìƒì„±í•´ì„œ í•œë²ˆ ì‹¤í–‰í•´ ë³´ì‹œê² ì–´ìš”? ğŸ˜